.card .custom-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}




.card:hover .custom-overlay {
  display: flex !important;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calendar-container iframe {
  max-width: 100%;
  min-height: 100%;
}

.testimonial-item {
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.testimonial-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
}

.testimonial-item:hover .testimonial-overlay {
  opacity: 1;
}

.testimonial-text {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.bg-light {
  background: var(--bs-primary-bg-subtle) !important;
}

.swiper-pagination span.swiper-pagination-bullet-active {
  background: var(--primary-color);
}

@media (max-width: 991px) {
  .feature-area .image-holder {
    display: none;
  }
}


:root, [data-bs-theme=light] {
  --bs-primary: #9459ce;
  --bs-primary-rgb: 148,89,206;
  --bs-primary-text-emphasis: #3B2452;
  --bs-primary-bg-subtle: #EADEF5;
  --bs-primary-border-subtle: #D4BDEB;
  --bs-secondary: #6f6090;
  --bs-secondary-rgb: 111,96,144;
  --bs-secondary-text-emphasis: #2C263A;
  --bs-secondary-bg-subtle: #E2DFE9;
  --bs-secondary-border-subtle: #C5BFD3;
  --bs-success: #2d5685;
  --bs-success-rgb: 45,86,133;
  --bs-success-text-emphasis: #122235;
  --bs-success-bg-subtle: #D5DDE7;
  --bs-success-border-subtle: #ABBBCE;
  --bs-info: #783e3e;
  --bs-info-rgb: 120,62,62;
  --bs-info-text-emphasis: #301919;
  --bs-info-bg-subtle: #E4D8D8;
  --bs-info-border-subtle: #C9B2B2;
  --bs-warning: #30294c;
  --bs-warning-rgb: 48,41,76;
  --bs-warning-text-emphasis: #13101E;
  --bs-warning-bg-subtle: #D6D4DB;
  --bs-warning-border-subtle: #ACA9B7;
  --bs-danger: #17467e;
  --bs-danger-rgb: 23,70,126;
  --bs-danger-text-emphasis: #091C32;
  --bs-danger-bg-subtle: #D1DAE5;
  --bs-danger-border-subtle: #A2B5CB;
  --bs-dark: #d53fed;
  --bs-dark-rgb: 213,63,237;
  --bs-dark-text-emphasis: #55195F;
  --bs-dark-bg-subtle: #F7D9FB;
  --bs-dark-border-subtle: #EEB2F8;
  --bs-body-font-family: Marcellus, serif;
  --bs-link-color: #5c1f59;
  --bs-link-color-rgb: 92,31,89;
  --bs-link-hover-color: #de30d7;
  --bs-link-hover-color-rgb: 222,48,215;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #8f33b6;
}

/* Custom styles for carousel indicators */
.custom-indicators {
  bottom: -50px; /* Adjust as necessary to position the indicators */
}

/* Custom styles for carousel controls */
.custom-control-prev,
.custom-control-next {
  top: auto; /* This will position the buttons relative to the bottom of the carousel */
  bottom: -35px; /* Adjust as necessary */
}

.custom-control-next {
  left: calc(50% - 60px); /* Adjust as necessary */
}

.custom-control-prev {
  left: calc(50% - 170px); /* Adjust as necessary */
}

/* Custom styles for carousel indicators */
.custom-carousel-indicators {
  position: absolute;
  bottom: -40px; /* Adjust the position as needed */
  text-align: center;
}

.custom-carousel-indicators .custom-bullet {
  width: 12px; /* Bullet width */
  height: 12px; /* Bullet height */
  border: none; /* Remove border */
  background-color: #6f42c1; /* Purple bullet color */
  border-radius: 50%; /* Make it rounded */
  margin: 0 6px; /* Space between bullets */
  opacity: 0.75;
  transition: opacity 0.6s ease; /* Smooth transition for hover effect */
}

.custom-carousel-indicators .custom-bullet:hover {
  opacity: 1; /* Full opacity on hover */
}

.custom-carousel-indicators .custom-bullet.active {
  background-color: #ff69b4; /* Rosy bullet color for active */
  opacity: 1; /* Full opacity for active */
}

.hero-section-article {
  margin-top: 75px; /* Adjust the value as per your design needs */
}

/* Custom styles for the carousel and filter buttons */
/* Unique styles for the redesigned carousel */
.unique-clickable-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.unique-clickable-card:hover {
  transform: scale(1.05);
}

.unique-filter-button.active {
  background-color: #007bff;
  color: white;
}

/* Ensure slides are displayed correctly after filtering */
.unique-carousel-slide {
  display: block;
}



h1 {
  font-size: 2.5rem; /* Default size for large screens */
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Smaller size for tablets */
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem; /* Even smaller size for phones */
  }
}

.gradient-text {
  background: linear-gradient(45deg, #ff0099, #493240, #f3f315);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Hide the original text color */
  animation: rainbow-animation 5s ease-in-out infinite;
  display: inline; /* Adjust display property if needed */
  line-height: 1.2; /* Adjust line-height to prevent clipping */
  background-size: 200% auto; /* Increase background size for noticeable movement */
}

@keyframes rainbow-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
