
{{ define "main" }}

<div class="container mt-5" style="width:70%">
    <h1 class="mb-4 text-center">All my blog posts</h1>
<hr>
    <!-- Category Nav Pills -->
    <ul class="nav nav-pills justify-content-center mb-4">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#all">All</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#articles">Articles</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#podcasts">Podcasts</button>
        </li>
    </ul>
<hr>
    <!-- Category Content Panes -->
    <div class="tab-content">
        <!-- "All" Content Pane -->
        <!-- "All" Content Pane -->
<div class="tab-pane fade show active" id="all">
    <!-- Tag Nav Pills for All Posts -->
    <ul class="nav nav-pills justify-content-center mb-3">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#all-all-tags">All Tags</button>
        </li>
        {{ $allPosts := .Site.RegularPages }}
        {{ $allTags := slice }}
        {{ range $allPosts }}
            {{ range .Params.tags }}
                {{ if not (in $allTags .) }}
                    {{ $allTags = $allTags | append . }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ range $allTags }}
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#all-{{ . | urlize }}">{{ . }}</button>
        </li>
        {{ end }}
    </ul>
    <hr>
    <br>
<!-- Tag Content Panes for All Posts -->
<div class="tab-content">
    <!-- "All Tags" Pane -->
    <div class="tab-pane fade show active" id="all-all-tags">
        <div class="row">
            {{ range $allPosts }}
            <!-- Card structure for displaying posts -->
            <div class="col-md-3 mb-3 d-flex"> <!-- Adjusted from col-md-4 to col-md-3 -->
                <!-- Post card -->
                <div class="card flex-fill"> <!-- 'flex-fill' will make sure the card stretches within the flex container -->

                    {{ with .Params.image }}
                    <img class="card-img-top" src="{{ . | absURL }}" alt="{{ .Title }}">
                    {{ else }}
                    <img class="card-img-top" src="/img/cbt-1.webp" alt="Default Image">
                    {{ end }}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title smaller-custom-title">{{ .Title }}</h5>
                        <p class="card-text smaller-custom-text flex-fill">{{ .Summary | truncate 70 }}</p> <!-- Optionally, shorten the summary -->
                        <a href="{{ .RelPermalink }}" class="btn btn-primary posts-custom-button mt-auto" data-bss-hover-animate="pulse">Читати більше</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

        <!-- Individual Tag Panes for All Posts -->
        {{ range $allTags }}
        <div class="tab-pane fade" id="all-{{ . | urlize }}">
            <div class="row">
                {{ range where $allPosts "Params.tags" "intersect" (slice .) }}
                <!-- Card structure for displaying posts with this tag -->
                <div class="col-md-4 mb-4 d-flex">
                    <!-- Post card -->
                    <div class="card flex-fill"> <!-- 'flex-fill' will make sure the card stretches within the flex container -->

                        {{ with .Params.image }}
                        <img class="card-img-top" src="{{ . | absURL }}" alt="{{ .Title }}">
                        {{ else }}
                        <img class="card-img-top" src="/img/cbt-1.webp" alt="Default Image">
                        {{ end }}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title smaller-custom-title">{{ .Title }}</h5>
                            <p class="card-text smaller-custom-text flex-fill">{{ .Summary | truncate 150 }}</p> <!-- Optionally, shorten the summary -->
                            <a href="{{ .RelPermalink }}" class="btn btn-primary posts-custom-button mt-auto" data-bss-hover-animate="pulse">Читати більше</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>

<!-- "Articles" Content Pane -->
<div class="tab-pane fade" id="articles">
    <!-- Tag Nav Pills for Articles -->
    <ul class="nav nav-pills justify-content-center mb-3">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#articles-all-tags">All Tags</button>
        </li>
        {{ $articles := where .Site.RegularPages "Params.categories" "intersect" (slice "Articles") }}
        {{ $tags := slice }}
        {{ range $articles }}
            {{ range .Params.tags }}
                {{ if not (in $tags .) }}
                    {{ $tags = $tags | append . }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ range $tags }}
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#articles-{{ . | urlize }}">{{ . }}</button>
        </li>
        {{ end }}
    </ul>
    <hr>
    <br>
    <!-- Tag Content Panes for Articles -->
    <div class="tab-content">
        <!-- "All Tags" Pane -->
        <div class="tab-pane fade show active" id="articles-all-tags">
            <div class="row">
                {{ range $articles }}
                <!-- Card structure for displaying articles -->
                <div class="col-md-3 mb-3 d-flex"> <!-- Adjusted from col-md-4 to col-md-3 -->
                    <!-- Post card -->
                    <div class="card flex-fill"> <!-- 'flex-fill' will make sure the card stretches within the flex container -->
    
                        {{ with .Params.image }}
                        <img class="card-img-top" src="{{ . | absURL }}" alt="{{ .Title }}">
                        {{ else }}
                        <img class="card-img-top" src="/img/cbt-1.webp" alt="Default Image">
                        {{ end }}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title smaller-custom-title">{{ .Title }}</h5>
                            <p class="card-text smaller-custom-text flex-fill">{{ .Summary | truncate 70 }}</p> <!-- Optionally, shorten the summary -->
                            <a href="{{ .RelPermalink }}" class="btn btn-primary posts-custom-button mt-auto" data-bss-hover-animate="pulse">Читати більше</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>

        <!-- Individual Tag Panes for Articles -->
        {{ range $tags }}
        <div class="tab-pane fade" id="articles-{{ . | urlize }}">
            <div class="row">
                {{ range where $articles "Params.tags" "intersect" (slice .) }}
                <!-- Card structure for displaying articles with this tag -->
                <div class="col-md-4 mb-4 d-flex">
                    <!-- Post card -->
                    <div class="card flex-fill"> <!-- 'flex-fill' will make sure the card stretches within the flex container -->

                        {{ with .Params.image }}
                        <img class="card-img-top" src="{{ . | absURL }}" alt="{{ .Title }}">
                        {{ else }}
                        <img class="card-img-top" src="/img/cbt-1.webp" alt="Default Image">
                        {{ end }}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title smaller-custom-title">{{ .Title }}</h5>
                            <p class="card-text smaller-custom-text flex-fill">{{ .Summary | truncate 150 }}</p> <!-- Optionally, shorten the summary -->
                            <a href="{{ .RelPermalink }}" class="btn btn-primary posts-custom-button mt-auto" data-bss-hover-animate="pulse">Читати більше</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>


<!-- "Podcasts" Content Pane -->
<div class="tab-pane fade" id="podcasts">
    <!-- Tag Nav Pills for Podcasts -->
    <ul class="nav nav-pills justify-content-center mb-3">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#podcasts-all-tags">All Tags</button>
        </li>
        {{ $podcasts := where .Site.RegularPages "Params.categories" "intersect" (slice "Podcasts") }}
        {{ $podcastTags := slice }}
        {{ range $podcasts }}
            {{ range .Params.tags }}
                {{ if not (in $podcastTags .) }}
                    {{ $podcastTags = $podcastTags | append . }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ range $podcastTags }}
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#podcasts-{{ . | urlize }}">{{ . }}</button>
        </li>
        {{ end }}
    </ul>
<hr>
<br>
    <!-- Tag Content Panes for Podcasts -->
    <div class="tab-content">
        <!-- "All Tags" Pane -->
        <div class="tab-pane fade show active" id="podcasts-all-tags">
            <div class="row">
                {{ range $podcasts }}
                <!-- Card structure for displaying podcasts -->
                <div class="col-md-3 mb-3 d-flex"> <!-- Adjusted from col-md-4 to col-md-3 -->
                    <!-- Post card -->
                    <div class="card flex-fill"> <!-- 'flex-fill' will make sure the card stretches within the flex container -->
    
                        {{ with .Params.image }}
                        <img class="card-img-top" src="{{ . | absURL }}" alt="{{ .Title }}">
                        {{ else }}
                        <img class="card-img-top" src="/img/cbt-1.webp" alt="Default Image">
                        {{ end }}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title smaller-custom-title">{{ .Title }}</h5>
                            <p class="card-text smaller-custom-text flex-fill">{{ .Summary | truncate 70 }}</p> <!-- Optionally, shorten the summary -->
                            <a href="{{ .RelPermalink }}" class="btn btn-primary posts-custom-button mt-auto" data-bss-hover-animate="pulse">Слухати більше</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>

        <!-- Individual Tag Panes for Podcasts -->
        {{ range $podcastTags }}
        <div class="tab-pane fade" id="podcasts-{{ . | urlize }}">
            <div class="row">
                {{ range where $podcasts "Params.tags" "intersect" (slice .) }}
                <!-- Card structure for displaying podcasts with this tag -->
                <div class="col-md-4 mb-4 d-flex">
                    <!-- Post card -->
                    <div class="card flex-fill"> <!-- 'flex-fill' will make sure the card stretches within the flex container -->

                        {{ with .Params.image }}
                        <img class="card-img-top" src="{{ . | absURL }}" alt="{{ .Title }}">
                        {{ else }}
                        <img class="card-img-top" src="/img/cbt-1.webp" alt="Default Image">
                        {{ end }}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title smaller-custom-title">{{ .Title }}</h5>
                            <p class="card-text smaller-custom-text flex-fill">{{ .Summary | truncate 150 }}</p> <!-- Optionally, shorten the summary -->
                            <a href="{{ .RelPermalink }}" class="btn btn-primary posts-custom-button mt-auto" data-bss-hover-animate="pulse">Читати більше</a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>

    </div>
</div>

<script>var currentPage = 'list';</script>
{{ partial "contact-me.html" .}}

{{ end }}
