<section id="latest-blog" class="padding-large pt-0 d-md-none first-background overflow-hidden" style="padding-bottom: 59px;">
    <div class="container-lg">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1 class="display-3">
                    <a href="/categories/articles/" class="gradient-text" data-bss-hover-animate="pulse">Articles</a> & 
                    <a href="/categories/podcasts/" class="gradient-text" data-bss-hover-animate="pulse">Podcasts</a>
                  </h1>
                  
                <p class="lead">Curated insights and thoughts.</p>
            </div>
        </div>
        <div id="blogCarouselMobile" class="carousel slide carousel-dark" data-bs-ride="carousel">
            <!-- Dynamic Carousel Indicators -->
            <div class="carousel-indicators">
                {{ $posts := .Site.RegularPages }}
                {{ range $index, $element := $posts }}
                <button type="button" data-bs-target="#blogCarouselMobile" data-bs-slide-to="{{ $index }}" {{ if eq $index 0 }}class="active" aria-current="true"{{ end }}></button>
                {{ end }}
            </div>

            <div class="carousel-inner">
                {{ range $index, $post := $posts }}
                <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
                    <div class="row gy-4 justify-content-center">
                        <div class="col-12">
                            <div class="card">
                                {{ with $post.Params.image }}
                                <img class="card-img-top w-100" style="height:200px;" src="{{ . | absURL }}" alt="{{ $post.Title }}">
                                {{ else }}
                                <img class="card-img-top w-100" style="height:200px;" src="/img/cbt-1.webp" alt="Default Image">
                                {{ end }}
                                <div class="card-body p-4">
                                    <p class="text-primary card-text mb-0">{{ range $post.Params.tags }}{{ . }} {{ end }}</p>
                                    <h4 class="card-title">{{ $post.Title }}</h4>
                                    <p class="card-text">{{ $post.Summary | truncate 150 }}</p>
                                    <!-- Wrap button in a div with d-flex and justify-content-center classes for centering -->
        <div class="d-flex justify-content-center">
            <a href="{{ $post.RelPermalink }}" class="btn btn-primary text-uppercase btn-small btn-pill" data-bss-hover-animate="pulse">Read More</a>
        </div>
                                </div>
                                <div class="card-footer text-muted">
                                    Category: {{ range $post.Params.categories }}{{ . }} {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>


<style>
    #blogCarouselMobile {
    padding-left: 50px;
    padding-right: 50px;
    }


    #blogCarouselMobile .carousel-indicators {
        bottom: -80px;
    }
    #blogCarouselMobile .carousel-indicators button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        /* Additional styling for the indicators */

        
    }
    #blogCarouselMobile .card-img-top {
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    object-fit: cover;
}



</style>
