<section id="diploma-swiper" class="second-background overflow-hidden">
<div class="container">
    <div class="row">
        <h1 class="display-5" style="text-align: center; padding-bottom:25px;">Мої кваліфікації</h1>




        <!-- Column for Swiper for Diplomas (Approx. 66%) -->
        <div class="col-md-7 order-1 order-md-2">
        <!-- Swiper for Diplomas -->
        <div class="swiper diplomaSwiper">
            <div class="swiper-wrapper">
                <!-- Slide for Diploma 1 -->
                <div class="swiper-slide">
                    <img src="img/moscow-certificate.jpg" alt="Diploma 1">
                    <div class="slide-content" style="display: none;">
                        <h2>Diploma 1 Title</h2>
                        <p>Description for Diploma 1...</p>
                    </div>
                </div>
                <!-- Repeat for more diplomas as needed -->
                <!-- Slide for Diploma 2 -->
                <div class="swiper-slide">
                    <img src="img/bachelor.jpg" alt="Diploma 2">
                    <div class="slide-content" style="display: none;">
                        <h2>Diploma 2 Title</h2>
                        <p>Description for Diploma 2...</p>
                    </div>
                </div>
                <!-- Slide for Diploma 3 -->
                <div class="swiper-slide">
                    <img src="img/master.jpg" alt="Diploma 3">
                    <div class="slide-content" style="display: none;">
                        <h2>Diploma 3 Title</h2>
                        <p>Description for Diploma 3...</p>
                    </div>
                </div>
                <!-- Slide for Diploma 4 -->
                <div class="swiper-slide">
                    <img src="img/kyiv-gestalt.jpg" alt="Diploma 4">
                    <div class="slide-content" style="display: none;">
                        <h2>Diploma 4 Title</h2>
                        <p>Description for Diploma 4...</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="swiper-diploma-pagination"></div>
        </div>

        <!-- Column for Diploma Details (Approx. 33%) -->
        <div class="col-md-5 d-flex justify-content-center order-2 order-md-1">
            <div id="diplomaDetails" class="diploma-details">
                <!-- Dynamic Content for the active diploma will be displayed here -->
                <h2 id="diplomaTitle">Diploma Title</h2>
                <p id="diplomaDescription">Diploma description...</p>
            </div>
        </div>
        
    </div>

</div>

</section>
