<section id="diploma-swiper" class="first-background overflow-hidden">
<div class="container">
    <div class="row">
        <h2 class="display-4" style="text-align: center; padding-bottom:25px; margin-bottom: 50px; margin-top: 50px;">{{ i18n "diploma-title" }}</h2>




        <!-- Column for Swiper for Diplomas (Approx. 66%) -->
        <div class="col-md-7 order-1 order-md-2">
        <!-- Swiper for Diplomas -->
        <div class="swiper diplomaSwiper">
            <div class="swiper-wrapper">
                <!-- Slide for Diploma 1 -->
                <div class="swiper-slide">
                    <img src="img/desktop/bachelor.webp" alt='{{ i18n "diploma1-details-alt" }}'>
                    <div class="slide-content" style="display: none;">
                        <h2>{{ i18n "diploma1-details-title" }}</h2>
                        <br>
                        <p>{{ i18n "diploma1-details-body" }}</p>
                        <br><br>
                        <a href="/">{{ i18n "diploma1-details-link" }}</a>
                    </div>
                </div>
                <!-- Repeat for more diplomas as needed -->
                <!-- Slide for Diploma 2 -->
                <div class="swiper-slide">
                    <img src="img/desktop/moscow-certificate.webp" alt='{{ i18n "diploma1-details-alt" }}'>

                    <div class="slide-content" style="display: none;">
                        <h2>{{ i18n "diploma2-details-title" }}</h2>
                        <br>
                        <p>{{ i18n "diploma2-details-body" }}</p>
                        <br><br>
                        <a href="/">{{ i18n "diploma2-details-link" }}</a>
                    </div>
                </div>
                <!-- Slide for Diploma 3 -->
                <div class="swiper-slide">
                    <img src="img/desktop/master.webp" alt='{{ i18n "diploma1-details-alt" }}'>
                    <div class="slide-content" style="display: none;">
                        <h2>{{ i18n "diploma3-details-title" }}</h2>
                        <br>
                        <p>{{ i18n "diploma3-details-body" }}</p>
                        <br><br>
                        <a href="/">{{ i18n "diploma3-details-link" }}</a>
                    </div>
                </div>
                <!-- Slide for Diploma 4 -->
                <div class="swiper-slide">
                    <img src="img/desktop/kyiv-gestalt.webp" alt='{{ i18n "diploma1-details-alt" }}'>

                    <div class="slide-content" style="display: none;">
                        <h2>{{ i18n "diploma4-details-title" }}</h2>
                        <br>
                        <p>{{ i18n "diploma4-details-body" }}</p>
                        <br><br>
                        <a href="/">{{ i18n "diploma4-details-link" }}</a>
                    </div>
                </div>

                <!-- Slide for Diploma 5 -->
                <div class="swiper-slide">
                    <img src="img/desktop/kyiv-gestalt.webp" alt='{{ i18n "diploma5-details-alt" }}'>

                    <div class="slide-content" style="display: none;">
                        <h2>{{ i18n "diploma5-details-title" }}</h2>
                        <br>
                        <p>{{ i18n "diploma5-details-body" }}</p>
                        <br><br>
                        <a href="/">{{ i18n "diploma5-details-link" }}</a>
                    </div>
                </div>


                <!-- Slide for Diploma 6 -->
                <div class="swiper-slide">
                    <img src="img/desktop/kyiv-gestalt.webp" alt='{{ i18n "diploma5-details-alt" }}'>
5                    <div class="slide-content" style="display: none;">
                        <h2>{{ i18n "diploma5-details-title" }}</h2>
                        <br>
                        <p>{{ i18n "diploma5-details-body" }}</p>
                        <br><br>
                        <a href="/">{{ i18n "diploma5-details-link" }}</a>
                    </div>
                </div>


                <!-- Slide for Diploma 7 -->
                <div class="swiper-slide">
                    <img src="img/desktop/kyiv-gestalt.webp" alt='{{ i18n "diploma7-details-alt" }}'>

                    <div class="slide-content" style="display: none;">
                        <h2>{{ i18n "diploma7-details-title" }}</h2>
                        <br>
                        <p>{{ i18n "diploma7-details-body" }}</p>
                        <br><br>
                        <a href="/">{{ i18n "diploma7-details-link" }}</a>
                    </div>
                </div>


                <!-- Slide for Diploma 8 -->
                <div class="swiper-slide">
                    <img src="img/desktop/kyiv-gestalt.webp" alt='{{ i18n "diploma8-details-alt" }}'>

                    <div class="slide-content" style="display: none;">
                        <h2>{{ i18n "diploma8-details-title" }}</h2>
                        <br>
                        <p>{{ i18n "diploma8-details-body" }}</p>
                        <br><br>
                        <a href="/">{{ i18n "diploma8-details-link" }}</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Pagination -->
        <div class="swiper-diploma-pagination"></div>
        </div>

        <!-- Column for Diploma Details (Approx. 33%) -->
        <div class="col-md-5 d-flex justify-content-center order-2 order-md-1">
            <div id="diplomaDetails" class="diploma-details">
                <!-- Dynamic Content for the active diploma will be displayed here -->
                <h2 id="diplomaTitle" style="text-align: center;">Diploma Title</h2>
                <p id="diplomaDescription">Diploma description...</p>
            </div>
        </div>
        
    </div>

</div>
<!-- Image Overlay for diplomas -->
<div id="diplomaImageOverlay" style="display:none; position: fixed; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0,0,0,0.7); z-index: 1050; justify-content: center; align-items: center;">
    <img src="" id="diplomaOverlayImage" style="max-height: 80%; max-width: 95%; margin: auto;">
    <span style="position: absolute; top: 20px; right: 20px; font-size: 30px; color: white; cursor: pointer;" onclick="document.getElementById('diplomaImageOverlay').style.display='none';">&times;</span>
</div>

</section>
