
<section id="FAQ" class="faq-section py-5 second-background overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-none d-md-flex align-items-center"><img class="img-fluid" src="img/photo_debout_livre.webp" alt="Context Image" style="border-radius: 13px;"></div>
            <div class="col-md-8 d-flex flex-column justify-content-start align-items-center">
                <h1 class="display-3" style="padding-bottom: 31px;text-align: center;">Frequently Asked Questions</h1>
                <p>This section contains answers to commonly asked questions about our psychotherapy services.</p>
                <div class="accordion" role="tablist" id="faqAccordion">
                    <div class="accordion-item" style="max-width:600px;">
                        <h2 class="accordion-header" role="tab" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is individual psychotherapy and how can it help me?</button></h2>
                        <div class="accordion-collapse collapse show item-1 show" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingOne" id="collapseOne">
                            <div class="accordion-body"><span>Individual psychotherapy involves one-on-one sessions with a therapist, focusing on your personal issues and concerns. It can help you understand your feelings, thoughts, and behaviors, providing strategies to cope with specific challenges, improve relationships, and enhance overall well-being.</span></div>
                        </div>
                    </div>
                    <div class="accordion-item" style="max-width:600px;">
                        <h2 class="accordion-header" role="tab" id="headingTwo"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How long does each therapy session last?</button></h2>
                        <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingTwo" id="collapseTwo">
                            <div class="accordion-body"><span>Each therapy session typically lasts between 45 to 60 minutes. The length can vary based on the type of therapy and the individual's needs.</span></div>
                        </div>
                    </div>
                    <div class="accordion-item" style="max-width:600px;">
                        <h2 class="accordion-header" role="tab" id="headingThree"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What can I expect during my first therapy session?</button></h2>
                        <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingThree" id="collapseThree">
                            <div class="accordion-body"><span>In your first session, the therapist will typically discuss your personal history, the reasons you're seeking therapy, and your goals for treatment. It's a chance for you to get to know your therapist and decide if their approach feels right for you.</span></div>
                        </div>
                    </div>
                    <div class="accordion-item" style="max-width:600px;">
                        <h2 class="accordion-header" role="tab" id="headingFour"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Is everything I say in therapy confidential?</button></h2>
                        <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingFour" id="collapseFour">
                            <div class="accordion-body"><span>Yes, all discussions in therapy are confidential and protected by client-therapist privilege. There are some exceptions, such as when there's a risk of harm to yourself or others, which your therapist will explain in your first session.</span></div>
                        </div>
                    </div>
                    <div class="accordion-item" style="max-width:600px;">
                        <h2 class="accordion-header" role="tab" id="headingFive"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How do I know if I need therapy?</button></h2>
                        <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingFive" id="collapseFive">
                            <div class="accordion-body"><span>Considering therapy can be a step if you're feeling overwhelmed, facing persistent sadness, anxiety, or if you're dealing with significant life changes or challenges. Therapy can provide support, strategies for coping, and a space to explore your thoughts and feelings.</span></div>
                        </div>
                    </div>
                    <div class="accordion-item" style="max-width:600px;">
                        <h2 class="accordion-header" role="tab" id="headingSix"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Do you offer online therapy sessions?</button></h2>
                        <div class="accordion-collapse collapse item-6" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingSix" id="collapseSix">
                            <div class="accordion-body"><span>Yes, we offer online therapy sessions to provide flexibility and convenience. These sessions are conducted via secure video conferencing platforms, ensuring confidentiality and accessibility.</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

