<footer class="footer first-background">
    <div class="container-fluid">
        <div class="footer-content justify-content-center">
            <a href="/" class="footer-brand d-flex align-items-center">
                <span class="d-flex justify-content-center align-items-center">
                    <img src="{{ "img/logo-brain-yaga-transformed.webp" | absURL }}" alt="Logo" style="height: 50px; width: 50px;">
                </span>
                <span>OMP</span>
            </a>

            <!-- <div class="footer-icons">
                <a href="https://t.me/OlessiaProfesseure" target="_blank" aria-label="Telegram">
                    <img src="{{ "img/Telegram_purple.svg" | absURL }}" alt="Telegram" style="height: 2em; width: 2em;">
                </a>
                <a href="viber://chat?number=+YourNumber" target="_blank" aria-label="Viber">
                    <img src="{{ "img/Viber_purple.svg" | absURL }}" alt="Viber" style="height: 2em; width: 2em;">
                </a>
            </div> -->
            
            <div class="footer-copy">
                &copy; 2024 OMP. All rights reserved.
                <br>
                Made by M-D-Q
            </div>
        </div>
    </div>
</footer>


<style>

.footer {
    padding: 20px 0;
    color: #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.footer-nav {
    list-style: none;
    padding: 0;
}

.footer-nav li {
    display: inline;
    margin-right: 20px;
}

.footer-nav a {
    color: black;
    text-decoration: none;
}

.footer-icons a {
    margin-right: 10px;
}

.footer-copy {
    margin-top: 10px; /* Provides spacing from icons if wrapped */
    text-align: center;
    width: 100%;
}

</style>