<footer class="bg-secondary pb-0 position-relative overflow-hidden" id="footer">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-lg-8 pt-0" style="padding-bottom: 0px;padding-right: 0px;padding-left: 0px;">
                <div class="image-holder" ><img src="{{ "img/logo-brain-yaga-transformed.webp" | absURL }}" alt="logo" style="width: 150px;" data-bss-hover-animate="pulse"></div>
                <p class="light py-5" style="padding-bottom: 0px;margin-bottom: 0px;">Copyright {{ now.Year }}. All rights reserved. Morbi non, semper vestibulum euismod accumsan.Sem magna ut pharetra vitae duis eu senectus sem risus.</p>
                <ul class="list-unstyled d-flex justify-content-center menu-list light pt-4 my-5" style="background: var(--bs-primary-border-subtle);margin: 10px; padding:20px;">
                    <li class="fs-5 pb-2 pe-3 light" style="max-width: none;"><a href="#">About Us.</a></li>
                    <li class="fs-5 pb-2 pe-3 light" style="max-width: none;"><a href="#">Terms Of Service.</a></li>
                    <li class="fs-5 pb-2 pe-3 light" style="max-width: none;"><a href="#">Privacy Policy.</a></li>
                    <li class="fs-5 pb-2 pe-3 light" style="max-width: none;"><a href="#">Our Services.</a></li>
                    <li class="fs-5 pb-2 pe-3 light" style="max-width: none;"><a href="#">Latest Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-image position-absolute"></div>
    </div>
</footer>