<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid"><a class="navbar-brand d-flex align-items-center" href="/"><span class="d-flex justify-content-center align-items-center bs-icon-sm bs-icon-rounded bs-icon-primary me-2"><img data-bss-hover-animate="pulse" style="height: 66px;width: 66px;" src="{{ "img/logo-brain-yaga-transformed.webp" | absURL }}" alt="Logo"></span><span>OMP</span></a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="/posts/">Пости</a></li>
                <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="/#about">Про мене</a></li>
                <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="/categories/">Блог</a></li>
                <li class="nav-item"><a class="nav-link" data-bss-hover-animate="pulse" href="/#pricing">Забронюйте сеанс</a></li>
            </ul>
        </div>
        <div class="d-flex">
            <!-- Contact Icons -->
            <a href="https://t.me/OlessiaProfesseure" class="me-3" target="_blank" aria-label="Telegram">
                <img src="{{ "img/Telegram_purple.svg" | absURL }}" alt="Telegram" data-bss-hover-animate="pulse" style="height: 2em; width: 2em;">
            </a>
            <a href="viber://chat?number=+YourNumber" target="_blank" aria-label="Viber" data-bss-hover-animate="pulse" style="margin-right: 10px;">
                <img src="{{ "img/Viber_purple.svg" | absURL }}" alt="Viber" style="height: 2em; width: 2em;">
            </a>
            <!-- Navbar Toggler -->
            <button data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
<section class="transition-header-to-first "></section> <!-- Transition from second back to first background -->

