<section id="issues2" class="first-background overflow-hidden">
    <div class="container">
        <h1 class="display-3 text-center my-3">В яких ситуаціях помагаю</h1>

        <!-- Original Nav Pills and Tab Content (hidden on mobile) -->

        <div class="d-none d-md-flex justify-content-center" style="width: 100%; margin-top: 0px;">
            <ul class="nav nav-pills mb-3" id="centered-pills" role="tablist" style="justify-content: center;">
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link btn btn-primary text-uppercase btn-small btn-pill active" style="margin-right: 5px; margin-top: 5px;" id="centered-pills-home" data-bs-toggle="pill" data-bs-target="#pills-home" data-bss-hover-animate="pulse" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Особистісні виклики</button>
                </li>
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link btn btn-primary text-uppercase btn-small btn-pill" style="margin-right: 5px ; margin-top: 5px" id="centered-pills-profile" data-bs-toggle="pill" data-bs-target="#pills-profile" data-bss-hover-animate="pulse" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Відносини та спілкування</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn btn-primary text-uppercase btn-small btn-pill" style=" margin-top: 5px" id="centered-pills-contact" data-bs-toggle="pill" data-bs-target="#pills-contact" data-bss-hover-animate="pulse" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Виклики життєвих переходів</button>
                </li>
            </ul>
        </div>

      <div class="tab-content mb-5" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="d-none d-md-block">
                    <div class="row issue-row gy-0">
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text">
                            <h3 style="text-align: center;" >Тривога, Панічні атаки, Депресія.</h3>
                            <p style="text-align: center;"><span>Ці стани можуть значно обмежувати якість життя, але з правильною підтримкою та стратегіями можна знайти полегшення та повернутися до повноцінного життя.</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-1" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/issue1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <div class="row issue-row gy-0">
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/issue2.webp') center / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text">
                            <h3 style="text-align: center;">Невпевненість в собі та проблеми з самооцінкою.</h3>
                            <p style="text-align: center;"><span >Побудова внутрішньої сили та самоповаги вимагає часу та рефлексії. Визнання власних досягнень та позитивних якостей може стати першим кроком.</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-2" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="row issue-row gy-0">
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text">
                            <h3 style="text-align: center;">Психосоматика</h3>
                            <p style="text-align: center;"><span >Тіло та розум тісно пов'язані. Емоційний дискомфорт може викликати фізичні симптоми, але розуміння та адресація емоційних потреб може полегшити стан.</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-3" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/issue3.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <!-- 
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/depression1.webp') top / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text" style="border-radius: 13px;">
                            <h3>Вигорання. Прокрастинація.</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-2" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                    </div> -->
                </div>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        
                <div class="d-none d-md-block">
                    <div class="row issue-row gy-0">
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text" >
                            <h3 style="text-align: center;">Труднощі в партнерських та сімейних стосунках.</h3>
                            <p class="text-align: center;"><span>Стосунки вимагають роботи та взаєморозуміння. Непорозуміння та конфлікти можуть підривати довіру та спільне щастя. Працюючи разом, ми можемо знайти шляхи до гармонії та взаємопідтримки.</span></p><button class="btn btn-primary" type="button"data-bss-hover-animate="pulse" data-bs-target="#issue-modal-4" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/issue1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <div class="row issue-row gy-0">
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/depression1.webp') top / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text">
                            <h3 style="text-align: center;">Складнощі в стосунках з людьми.</h3>
                            <p style="text-align: center;"><span>Ефективне спілкування та емпатія є ключами до міцних стосунків. Розуміння та повага до кордонів кожного допоможе побудувати здорові взаємовідносини.</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-5" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="row issue-row gy-0">
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text">
                            <h3 style="text-align: center;">Відновлення довіри після зради.</h3>
                            <p style="text-align: center;"><span>Зрада завдає болю та руйнує довіру, але зцілення можливе через відвертість та спільну роботу над відносинами. Важливо визначити корінь проблеми та працювати над її вирішенням.</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-6" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                </div>
        </div>
            

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">  
                <div class="d-none d-md-block">
                    <div class="row issue-row gy-0">
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text" >
                            <h3 style="text-align: center;">Пошук себе та сенсу.</h3>
                            <p style="text-align: center;"><span>Розуміння власної ідентичності та призначення вимагає самопізнання та часу. Ця подорож може бути викликом, але й джерелом глибокого особистого зростання.</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-7" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <div class="row issue-row gy-0">
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/depression1.webp') top / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text">
                            <h3 style="text-align: center;">Складнощі в професійній діяльності.</h3>
                            <p style="text-align: center;"><span>Розуміння власної ідентичності та призначення вимагає самопізнання та часу. Ця подорож може бути викликом, але й джерелом глибокого особистого зростання.</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-8" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="row issue-row gy-0">
                        <div class="col-md-6 d-flex flex-column align-items-center issue-text">
                            <h3 style="text-align: center;">Труднощі адаптації в новій країні.</h3>
                            <p style="text-align: center;"><span>Адаптація до нової культури та середовища може бути випробуванням. Підтримка та розуміння нових соціальних контекстів може полегшити цей перехід.</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-9" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-flex issue-image" style="background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                </div>
            </div>
      </div>

<!-- Mobile View Content (visible on mobile) -->

<div class="d-block d-md-none mobilos">


    <div class="card text-white mb-4">
        <div class="image-container">
            <img class="card-img-top d-block card-img" src="img/issue1.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-1" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>
    
    
    
    <div class="card text-white mb-4">
        <div class="image-container">
            <img class="card-img-top d-block card-img" src="img/issue2.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-2" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>


        <div class="card text-white mb-4">
        <div class="image-container">
            <img class="card-img-top d-block card-img" src="img/issue3.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-3" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>


    <div class="card text-white mb-4 hidden">
        <div class="image-container">
            <img class="card-img-top d-block card-img" src="img/issue-4.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-4" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>
    <div class="card text-white mb-4 hidden">
        <div class="image-container">
            <img class="card-img-top d-block card-img" src="img/issue-5.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-5" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>
    <div class="card text-white mb-4 hidden">
        <div class="image-container">
            <img class="card-img-top d-block card-img" src="img/issue-6.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-6" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <button id="seeMoreBtn" class="btn btn-primary text-uppercase btn-small btn-pill" data-bss-hover-animate="pulse">See More</button>
    </div>


    <div class="card text-white mb-4 hidden">
        <div class="image-container">
            <img class="card-img-top d-block card-img" src="img/issue-7.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-7" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>
    <div class="card text-white mb-4 hidden">
        <div class="image-container">
            <img class="card-img-top d-block card-img" src="img/issue-8.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-8" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
        </div>



        <div class="card text-white mb-4 hidden">
            <div class="image-container">
                <img class="card-img-top d-block card-img" src="img/issue-9.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
                <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                    <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                    <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                    <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-9" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
                </div>
            </div>
        </div>
    </div>
    
    
    </div>

<!-- Modals for the different issues.-->
<div class="modalcontainer">
<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-1" aria-labelledby="modalIssue1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-1">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-2" aria-labelledby="modalIssue2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-2">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-3" aria-labelledby="modalIssue3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-3">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-4" aria-labelledby="modalIssue4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-4">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-5" aria-labelledby="modalIssue5Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-5">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-6" aria-labelledby="modalIssue6Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-6">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-7" aria-labelledby="modalIssue7Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-7">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-8" aria-labelledby="modalIssue8Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-8">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-9" aria-labelledby="modalIssue9Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-9">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>
</div>
</section>




<style>

    .card.hidden {
        display: none;
    }

    .bg-dark-overlay .card-img {
        width: 100%;
    }

    .bg-dark-overlay .card-img-overlay {
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .issue-image {
        background-size: cover;
        background-position: center;
        border-radius: 13px;
        height: 200px; /* Adjust height as needed */
    }

    .issue-text h5 {
        margin-bottom: 1rem;
    }

    .issue-row {
        align-items: center;
        margin-top: 10px;
    }

    .mobilos {
        padding-left: 60px;
        padding-right: 60px;
    }

    .mobilos .image-container {
        width: auto;
        height: 200px;
        position: relative;
    }

    /* Initially hide the overlay */
.image-container .custom-overlay {
    opacity: 0;
    transition: opacity 0.5s ease; /* Smooth transition for the overlay appearance */
}

/* Show the overlay on hover */
.image-container:hover .custom-overlay {
    opacity: 1;
}
</style>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var seeMoreBtn = document.getElementById('seeMoreBtn');
        seeMoreBtn.addEventListener('click', function() {
            // Find all hidden cards
            var hiddenCards = document.querySelectorAll('.card.hidden');
            // Show the next set of 3 cards
            for (var i = 0; i < 3 && i < hiddenCards.length; i++) {
                hiddenCards[i].classList.remove('hidden');
            }
            // If no more hidden cards, hide the "See More" button
            if (document.querySelectorAll('.card.hidden').length === 0) {
                seeMoreBtn.style.display = 'none';
            }
        });
    });
    </script>
