<section id="issues2">
    <div class="container" style="padding-bottom: 0px;margin-bottom: 123px;max-height: 900px;">
        <h1 class="display-3 text-center my-3" style="padding-bottom: 43px;">Issues I Will Take Care of</h1>

        <div class="d-flex justify-content-center" style="margin-top: 39px;">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item me-2" role="presentation"> <!-- Added margin between items -->
                    <button class="nav-link btn btn-outline-primary fs-3 fw-lighter rounded-3 active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">My Self</button>
                </li>
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link btn btn-outline-primary fs-3 fw-lighter rounded-3" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">My Relations</button>
                </li>
                <li class="nav-item" role="presentation"> <!-- No right margin for the last item -->
                    <button class="nav-link btn btn-outline-primary fs-3 fw-lighter rounded-3" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">My Career</button>
                </li>
            </ul>
        </div>
        


      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        
            <div id="self" class="tab-pane fade show active" role="tabpanel" aria-labelledby="self-tab">
                <div class="d-block d-md-none">
                    <div class="card text-white mb-3"><img class="card-img-top w-100 d-block card-img" src="img/featured-item6.jpg" alt="Depression" />
                        <div class="d-flex flex-column justify-content-end align-items-center card-img-overlay p-2" style="background: rgba(0, 0, 0, 0.5);">
                            <h5 class="card-title">Depression</h5><button class="btn btn-primary" type="button" data-bs-target="#depression-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="card text-white mb-3"><img class="card-img-top w-100 d-block card-img" src="img/depression1.webp" alt="Depression" />
                        <div class="d-flex flex-column justify-content-end align-items-center card-img-overlay p-2" style="background: rgba(0, 0, 0, 0.5);">
                            <h5 class="card-title">Panick Attacks</h5><button class="btn btn-primary" type="button" data-bs-target="#panic-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="card text-white mb-3"><img class="card-img-top w-100 d-block card-img" src="img/featured-item6.jpg" alt="Depression" />
                        <div class="d-flex flex-column justify-content-end align-items-center card-img-overlay p-2" style="background: rgba(0, 0, 0, 0.5);">
                            <h5 class="card-title">Anxiety</h5><button class="btn btn-primary" type="button" data-bs-target="#anxiety-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block">
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 offset-md-0 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="margin-top: 5px;margin-bottom: 5px;text-align: center;border-radius: 13px;">
                            <h3 class="d-xl-flex d-xxl-flex justify-content-xl-center justify-content-xxl-center">Depression</h3>
                            <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-left: 18px;padding-right: 18px;"><span style="color: rgb(44, 62, 80);text-align: center;">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#depression-modal" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="margin-top: 5px;margin-bottom: 5px;background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') top / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Anxiety</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#anxiety-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Panick Attacks</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#panic-modal" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                </div>
            </div>

        ...</div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        
            <div id="self" class="tab-pane fade show" role="tabpanel" aria-labelledby="self-tab">
                <div class="d-block d-md-none">
                    <div class="card text-white mb-3"><img class="card-img-top w-100 d-block card-img" src="img/featured-item6.jpg" alt="Depression" />
                        <div class="d-flex flex-column justify-content-end align-items-center card-img-overlay p-2" style="background: rgba(0, 0, 0, 0.5);">
                            <h5 class="card-title">Depression</h5><button class="btn btn-primary" type="button" data-bs-target="#depression-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="card text-white mb-3"><img class="card-img-top w-100 d-block card-img" src="img/depression1.webp" alt="Depression" />
                        <div class="d-flex flex-column justify-content-end align-items-center card-img-overlay p-2" style="background: rgba(0, 0, 0, 0.5);">
                            <h5 class="card-title">Panick Attacks</h5><button class="btn btn-primary" type="button" data-bs-target="#panic-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="card text-white mb-3"><img class="card-img-top w-100 d-block card-img" src="img/featured-item6.jpg" alt="Depression" />
                        <div class="d-flex flex-column justify-content-end align-items-center card-img-overlay p-2" style="background: rgba(0, 0, 0, 0.5);">
                            <h5 class="card-title">Anxiety</h5><button class="btn btn-primary" type="button" data-bs-target="#anxiety-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block">
                    <div class="row issue-row" style="margin-top: 10px">
                        <div class="col-md-6 offset-md-0 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="margin-top: 5px;margin-bottom: 5px;text-align: center;border-radius: 13px;">
                            <h3 class="d-xl-flex d-xxl-flex justify-content-xl-center justify-content-xxl-center">Depression</h3>
                            <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-left: 18px;padding-right: 18px;"><span style="color: rgb(44, 62, 80);text-align: center;">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#depression-modal" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="margin-top: 5px;margin-bottom: 5px;background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px">
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') top / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Anxiety</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#anxiety-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px">
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Panick Attacks</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#panic-modal" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                </div>
            </div>
            dazdazdza</div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            
            <div id="self" class="tab-pane fade show" role="tabpanel" aria-labelledby="self-tab">
                <div class="d-block d-md-none">
                    <div class="card text-white mb-3"><img class="card-img-top w-100 d-block card-img" src="img/featured-item6.jpg" alt="Depression" />
                        <div class="d-flex flex-column justify-content-end align-items-center card-img-overlay p-2" style="background: rgba(0, 0, 0, 0.5);">
                            <h5 class="card-title">Depression</h5><button class="btn btn-primary" type="button" data-bs-target="#depression-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="card text-white mb-3"><img class="card-img-top w-100 d-block card-img" src="img/depression1.webp" alt="Depression" />
                        <div class="d-flex flex-column justify-content-end align-items-center card-img-overlay p-2" style="background: rgba(0, 0, 0, 0.5);">
                            <h5 class="card-title">Panick Attacks</h5><button class="btn btn-primary" type="button" data-bs-target="#panic-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="card text-white mb-3"><img class="card-img-top w-100 d-block card-img" src="img/featured-item6.jpg" alt="Depression" />
                        <div class="d-flex flex-column justify-content-end align-items-center card-img-overlay p-2" style="background: rgba(0, 0, 0, 0.5);">
                            <h5 class="card-title">Anxiety</h5><button class="btn btn-primary" type="button" data-bs-target="#anxiety-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block">
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 offset-md-0 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="margin-top: 5px;margin-bottom: 5px;text-align: center;border-radius: 13px;">
                            <h3 class="d-xl-flex d-xxl-flex justify-content-xl-center justify-content-xxl-center">Depression</h3>
                            <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-left: 18px;padding-right: 18px;"><span style="color: rgb(44, 62, 80);text-align: center;">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#depression-modal" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="margin-top: 5px;margin-bottom: 5px;background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') top / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Anxiety</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#anxiety-modal" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Panick Attacks</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#panic-modal" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                </div>
            </div>
        
        </div>
      </div>



    </div>
</section>


<style>
    .custom-margin .nav-item {
    margin-right: 30px; /* Adjust the right margin as needed */
}

.custom-margin .nav-item:last-child {
    margin-right: 0; /* Removes the margin from the last item */
}
</style>