<section id="issues2" class="overflow-hidden">
    <div class="container" style="padding-bottom: 50px;margin-bottom: 50px;">
        <h1 class="display-3 text-center my-3" style="padding-bottom: 0px;">Issues I Will Take Care of</h1>

        <!-- Original Nav Pills and Tab Content (hidden on mobile) -->

        <div class="d-none d-md-flex justify-content-center" style="width: 100%; margin-top: 0px;">
            <ul class="nav nav-pills mb-3" id="centered-pills" role="tablist" style="justify-content: center;">
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link btn fs-3 fw-lighter rounded-3 active" id="centered-pills-home" data-bs-toggle="pill" data-bs-target="#pills-home" data-bss-hover-animate="pulse" type="button" role="tab" aria-controls="pills-home" aria-selected="true">My Self</button>
                </li>
                <li class="nav-item me-2" role="presentation">
                    <button class="nav-link btn fs-3 fw-lighter rounded-3" id="centered-pills-profile" data-bs-toggle="pill" data-bs-target="#pills-profile" data-bss-hover-animate="pulse" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">My Relations</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn fs-3 fw-lighter rounded-3" id="centered-pills-contact" data-bs-toggle="pill" data-bs-target="#pills-contact" data-bss-hover-animate="pulse" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">My Career</button>
                </li>
            </ul>
        </div>

      <div class="tab-content mb-5" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="d-none d-md-block">
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 offset-md-0 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="margin-top: 5px;margin-bottom: 5px;text-align: center;border-radius: 13px;">
                            <h3 class="d-xl-flex d-xxl-flex justify-content-xl-center justify-content-xxl-center">DeprSHITession</h3>
                            <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-left: 18px;padding-right: 18px;"><span style="color: rgb(44, 62, 80);text-align: center;">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-1" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="margin-top: 5px;margin-bottom: 5px;background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') top / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Anxiety</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-2" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Panick Attacks</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-3" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                </div>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        
            
                
                <div class="d-none d-md-block">
                    <div class="row issue-row" style="margin-top: 10px">
                        <div class="col-md-6 offset-md-0 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="margin-top: 5px;margin-bottom: 5px;text-align: center;border-radius: 13px;">
                            <h3 class="d-xl-flex d-xxl-flex justify-content-xl-center justify-content-xxl-center">Depression</h3>
                            <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-left: 18px;padding-right: 18px;"><span style="color: rgb(44, 62, 80);text-align: center;">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button"data-bss-hover-animate="pulse" data-bs-target="#issue-modal-4" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="margin-top: 5px;margin-bottom: 5px;background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px">
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') top / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Anxiety</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-5" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px">
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Panick Attacks</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-6" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                </div>
        </div>
            

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">  
                <div class="d-none d-md-block">
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 offset-md-0 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="margin-top: 5px;margin-bottom: 5px;text-align: center;border-radius: 13px;">
                            <h3 class="d-xl-flex d-xxl-flex justify-content-xl-center justify-content-xxl-center">Depression</h3>
                            <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-left: 18px;padding-right: 18px;"><span style="color: rgb(44, 62, 80);text-align: center;">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-7" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="margin-top: 5px;margin-bottom: 5px;background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') top / cover no-repeat;border-radius: 13px;"></div>
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Anxiety</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-8" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                    </div>
                    <div class="row issue-row" style="margin-top: 10px;margin-bottom: 1;">
                        <div class="col-md-6 d-flex d-sm-flex d-xl-flex flex-column align-items-center align-items-sm-center justify-content-xl-center align-items-xl-center issue-text" style="border-radius: 13px;">
                            <h3>Panick Attacks</h3>
                            <p style="text-align: center;"><span style="color: rgb(44, 62, 80);">If you wish to customize a component or part of your design in a way which isn&#39;t possible in Bootstrap Studio, you can do it by converting it to. Just right click a component and choose</span></p><button class="btn btn-primary" type="button" data-bs-target="#issue-modal-9" data-bss-hover-animate="pulse" data-bs-toggle="modal">+</button>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center issue-image" style="background: url('img/depression1.webp') center / cover no-repeat;border-radius: 13px;"></div>
                    </div>
                </div>
            
        
        </div>

      </div>

<!-- Mobile View Content (visible on mobile) -->

<div class="d-block d-md-none mobilos">


    <div class="card text-white mb-4">
        <div class="image-container" style="width: auto; height: 250px; position: relative;">
            <img class="card-img-top d-block card-img" src="img/issue-1.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-1" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>
    
    
    
    <div class="card text-white mb-4">
        <div class="image-container" style="width: auto; height: 250px; position: relative;">
            <img class="card-img-top d-block card-img" src="img/issue-2.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-2" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>


        <div class="card text-white mb-4">
        <div class="image-container" style="width: auto; height: 250px; position: relative;">
            <img class="card-img-top d-block card-img" src="img/issue-3.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-3" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>


    <div class="card text-white mb-4 hidden">
        <div class="image-container" style="width: auto; height: 250px; position: relative;">
            <img class="card-img-top d-block card-img" src="img/issue-4.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-4" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>
    <div class="card text-white mb-4 hidden">
        <div class="image-container" style="width: auto; height: 250px; position: relative;">
            <img class="card-img-top d-block card-img" src="img/issue-5.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-5" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>
    <div class="card text-white mb-4 hidden">
        <div class="image-container" style="width: auto; height: 250px; position: relative;">
            <img class="card-img-top d-block card-img" src="img/issue-6.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-6" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <button id="seeMoreBtn" class="btn btn-primary">See More</button>
    </div>


    <div class="card text-white mb-4 hidden">
        <div class="image-container" style="width: auto; height: 250px; position: relative;">
            <img class="card-img-top d-block card-img" src="img/issue-7.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-7" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
    </div>
    <div class="card text-white mb-4 hidden">
        <div class="image-container" style="width: auto; height: 250px; position: relative;">
            <img class="card-img-top d-block card-img" src="img/issue-8.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
            <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-8" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
            </div>
        </div>
        </div>



        <div class="card text-white mb-4 hidden">
            <div class="image-container" style="width: auto; height: 250px; position: relative;">
                <img class="card-img-top d-block card-img" src="img/issue-9.webp" alt="Depression" style="width: 100%; height: 100%; object-fit: cover;" />
                <div class="d-flex flex-column justify-content-between card-img-overlay p-2 custom-overlay" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding-top: 20px; padding-bottom: 20px;">
                    <h5 class="card-title text-center" style="margin-top: 0; margin-bottom: auto;">Depression</h5>
                    <p class="text-center" style="font-style: italic; margin: 0;">Your custom text here</p>
                    <button class="btn btn-primary align-self-center" type="button" data-bs-target="#issue-modal-9" data-bs-toggle="modal" style="margin-top: auto; margin-bottom: 0;">+</button>
                </div>
            </div>
        </div>
    </div>
    
    
    </div>

<!-- Modals for the different issues.-->
<div class="modalcontainer">
<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-1" aria-labelledby="modalIssue1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-1">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-2" aria-labelledby="modalIssue2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-2">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-3" aria-labelledby="modalIssue3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-3">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-4" aria-labelledby="modalIssue4Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-4">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-5" aria-labelledby="modalIssue5Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-5">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-6" aria-labelledby="modalIssue6Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-6">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-7" aria-labelledby="modalIssue7Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-7">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-8" aria-labelledby="modalIssue8Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-8">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="issue-modal-9" aria-labelledby="modalIssue9Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issue-modal-9">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
            </div>
        </div>
    </div>
</div>
</div>
</section>




<style>

    .card.hidden {
        display: none;
    }

    .bg-dark-overlay .card-img {
        width: 100%;
    }

    .bg-dark-overlay .card-img-overlay {
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    .issue-image {
        background-size: cover;
        background-position: center;
        border-radius: 13px;
        height: 200px; /* Adjust height as needed */
    }

    .issue-text h5 {
        margin-bottom: 1rem;
    }

    .issue-row {
        align-items: center;
        margin-top: 10px;
    }

    .mobilos {
        padding-left: 66px;
        padding-right: 66px;
    }

    /* Initially hide the overlay */
.image-container .custom-overlay {
    opacity: 0;
    transition: opacity 0.5s ease; /* Smooth transition for the overlay appearance */
}

/* Show the overlay on hover */
.image-container:hover .custom-overlay {
    opacity: 1;
}
</style>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var seeMoreBtn = document.getElementById('seeMoreBtn');
        seeMoreBtn.addEventListener('click', function() {
            // Find all hidden cards
            var hiddenCards = document.querySelectorAll('.card.hidden');
            // Show the next set of 3 cards
            for (var i = 0; i < 3 && i < hiddenCards.length; i++) {
                hiddenCards[i].classList.remove('hidden');
            }
            // If no more hidden cards, hide the "See More" button
            if (document.querySelectorAll('.card.hidden').length === 0) {
                seeMoreBtn.style.display = 'none';
            }
        });
    });
    </script>