<section id="methods2" class="second-background overflow-hidden">
    <div  class="container reducino">
        <h2 class="display-4 text-center text-secondary" style="margin-bottom: 50px; margin-top: 50px;">{{ i18n "methods-heading" }}</h2>
        <p class="text-center text-muted reducino-text" >{{ i18n "methods-subtitle" }}</p>
        <!-- Cards go here -->
        <div class="row justify-content-center" style="margin-top: 30px;">

            <div class="col-md-6 col-lg-3 mb-4" data-aos="zoom-in-right" data-aos-delay="150">
                <div class="card h-100 position-relative"><img class="w-100 d-block  w-100  w-100 card-img-top" src="img\desktop\gestalt-1.webp" alt='{{ i18n "methods-card1-image_desc" }}'>
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">{{ i18n "methods-card1-overlay_phrase" }}</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalGestalt">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center card-title">{{ i18n "methods-card1-title" }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4" data-aos="zoom-in-right" data-aos-delay="250">
                <div class="card h-100 position-relative"><img class="w-100 d-block w-100w-100 card-img-top" src="img\desktop\art-therapy-1.webp" alt='{{ i18n "methods-card2-image_desc" }}'>
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">{{ i18n "methods-card2-overlay_phrase" }}</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalArtTherapy">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center card-title">{{ i18n "methods-card2-title" }}</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4" data-aos="zoom-in-right" data-aos-delay="350">
                <div class="card h-100 position-relative"><img class="w-100 d-block w-100 w-100 card-img-top" src="img\desktop\cbt1.webp" alt='{{ i18n "methods-card3-image_desc" }}'>
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">{{ i18n "methods-card3-overlay_phrase" }}</span></p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCbt">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center card-title">{{ i18n "methods-card3-title" }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4" data-aos="zoom-in-right" data-aos-delay="400">
                <div class="card h-100 position-relative"><img class="w-100 d-block w-100 w-100 card-img-top" src="img\desktop\cbt-1.webp" alt='{{ i18n "methods-card4-image_desc" }}'>
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">{{ i18n "methods-card4-overlay_phrase" }}</span></p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMAK">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center card-title">{{ i18n "methods-card4-title" }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div id="modals-methods">
<div class="modal fade" role="dialog" tabindex="-1" id="modalCbt" aria-labelledby="modalCbtLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCbt">{{ i18n "methods-card3-modal_title" }}</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>{{ i18n "methods-card3-modal_body" | safeHTML }}</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="modalGestalt" aria-labelledby="modalGestaltLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalGestalt">{{ i18n "methods-card1-modal_title" }}</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>{{ i18n "methods-card1-modal_body" | safeHTML }}</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" tabindex="-1" id="modalArtTherapy" aria-labelledby="modalArtTherapyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalArtTherapy">{{ i18n "methods-card2-modal_title" }}</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>{{ i18n "methods-card2-modal_body" | safeHTML }}</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="modalMAK" aria-labelledby="modalMAKLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalArtTherapy">{{ i18n "methods-card4-modal_title" }}</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>{{ i18n "methods-card4-modal_body" | safeHTML }}</p>
            </div>
        </div>
    </div>
</div>
</div>


<style>


#methods2 .card {
    width: 100%; /* Card width is responsive to the column width */
    max-width: 300px;
}

#methods2 .card-img-top {
    width: 100%; /* Image takes full width of the card */
    aspect-ratio: 1 / 1; /* Keeps the image square */
    object-fit: contain; /* Ensures the image covers the area without distortion */
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    max-width: 300px;
}

@media (max-width: 768px) {

    #methods2 .card {
    width: 50vw; /* Card width is responsive to the column width */
margin-left: auto;
margin-right: auto;}

}

/* Media query for screens wider than 768px */
@media (min-width: 768px) {
    #modals-methods .modal-dialog {
        width: 50%; /* Set the width of the modal */
        min-width: 50vw; /* Optional: Ensures modals are not too small on larger screens */
        transform: translate(-50%, -50%); /* Center the modal */
        top: 30%; /* Align vertically at the center */
        left: 50%; /* Align horizontally at the center */
        position: absolute; /* Needed to position the modal dialog properly */
    }
}

</style>
