<section id="methods" class="py-5 overflow-hidden">
    <div class="container">
        <h2 class="display-4 text-center text-secondary">My Methods</h2>
        <p class="text-center">Psychotherapy is not just about navigating challenges; it's about unlocking the potential within you to lead a fulfilling life. Each approach I use is tailored to meet your unique needs and personal journey.</p>
        <!-- Cards go here -->
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4" data-aos="zoom-in-right" data-aos-delay="150">
                <div class="card h-100 position-relative"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 card-img-top" src="img/cbt-1.webp" alt="C-B-T">
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white"><span style="color:rgb(249, 249, 249);background-color:rgb(23, 23, 23);">Thoughts and behaviors</span></p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCbt">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center card-title">C-B-T</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4" data-aos="zoom-in-right" data-aos-delay="450">
                <div class="card h-100 position-relative"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 card-img-top" src="img/gestalt-1.webp" alt="C-B-T">
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">Here and now exploration</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalGestalt">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center card-title">Gestalt</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4" data-aos="zoom-in-right" data-aos-delay="650">
                <div class="card h-100 position-relative"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 card-img-top" src="img/art-therapy-1.webp" alt="C-B-T">
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">Creative expression for healing</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalArtTherapy">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center card-title">Art Therapy</h3>
                    </div>
                </div>
            </div>
        </div>
            
            
        </div>
    </div>
    <!-- Modals go here -->
</section>

<style>
    @media (max-width: 768px) {
        #methods .card-img-top {
            max-height: 150px; /* Adjust as needed */
            object-fit: cover;
        }

        #methods .card-body {
            padding: 10px; /* Reduce padding */
        }

        #methods .card-title, #methods .custom-overlay p {
            font-size: 14px; /* Adjust font size */
        }

        #methods .btn {
            padding: 5px 10px; /* Adjust button padding */
            font-size: 12px; /* Adjust button font size */
        }
    }
</style>