<section id="methods2" class="second-background overflow-hidden">
    <div  class="container reducino">
        <h2 class="display-4 text-center text-secondary" style="margin-bottom: 50px; margin-top: 50px;">Мої Методи</h2>
        <p class="text-center text-muted reducino-text" >Психотерапія — це не просто вирішення проблем; мова йде про розкриття потенціалу всередині вас, щоб вести повноцінне життя. Кожен підхід, який я використовую, чудово поєднується один з одним, щоб забезпечити кращий результат.</p>
        <!-- Cards go here -->
        <div class="row justify-content-center" style="margin-top: 30px;">

            <div class="col-md-6 col-lg-3 mb-4" data-aos="zoom-in-right" data-aos-delay="150">
                <div class="card h-100 position-relative"><img class="w-100 d-block  w-100  w-100 card-img-top" src="img\desktop\gestalt-1.webp" alt="C-B-T">
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">Про контакт тут і тепер</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalGestalt">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center card-title">Гештальт терапія</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4" data-aos="zoom-in-right" data-aos-delay="250">
                <div class="card h-100 position-relative"><img class="w-100 d-block w-100w-100 card-img-top" src="img\desktop\art-therapy-1.webp" alt="C-B-T">
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">Творче самовираження</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalArtTherapy">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center card-title">Арт-терапія</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4" data-aos="zoom-in-right" data-aos-delay="350">
                <div class="card h-100 position-relative"><img class="w-100 d-block w-100 w-100 card-img-top" src="img\desktop\cbt1.webp" alt="C-B-T">
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">Думки і поведінка</span></p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCbt">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center card-title">КПТ</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4" data-aos="zoom-in-right" data-aos-delay="400">
                <div class="card h-100 position-relative"><img class="w-100 d-block w-100 w-100 card-img-top" src="img\desktop\cbt-1.webp" alt="C-B-T">
                    <div class="custom-overlay">
                        <div>
                            <p class="text-white">Проективна методика</span></p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMAK">+</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center card-title">МАК</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div id="modals-methods">
<div class="modal fade" role="dialog" tabindex="-1" id="modalCbt" aria-labelledby="modalCbtLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCbt">Когнітивно-поведінкова терапія</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>КПТ відслідковує, як ваші думки впливають на ваші емоції і поведінку, і допомагає вам освоїти навички, які необхідні для вирішення різних проблем. Для прикладу, якщо у вас є негативні думки, то вони можуть викликати емоції, які впливатимуть на вашу поведінку невигідним для вас чином. КПТ поєднує в собі когнітивну терапію (те, що ви думаєте) і поведінкову терапію (те, що ви робите). КПТ заявив себе як ефективний метод в роботі з ПА, тривожним та постратравматичним розладами, фобіями, обсесивно-компульсивним розладом, депресією та розладами харчової поведінки.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="modalGestalt" aria-labelledby="modalGestaltLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalGestalt">Гештальт-терапія</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>ГТ - це про контакт з собою, зі світом тут і зараз. Про те, як ваш минулий досвід відгукується у вас в цьому моменті. Ви мабуть вже чули фразу «закрити гештальт? ГТ розглядає процес життя як пошук своїх справжніх потреб (усвідомлення гештальтів) та способів їх задоволення (закриття гештальтів). Закрити гештальт означає до кінця розібратися в ситуації, що турбує вас, прийняти її, заспокоїтися і більше до неї не повертатися. <br> <br> Франц Перлз, засновник гештальт-терапії сказав: «Я роблю свою справу, а ти робиш свою. Я в цьому світі не для того, щоб відповідати твоїм очікуванням, а ти в цьому світі не для того, щоб відповідати моїм очікуванням. Ти це ти, а я це я. Якщо нам доведеться знайти один одного – це чудово. Якщо ні, то нічого не вдієш і нічого в цьому страшного.»</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" tabindex="-1" id="modalArtTherapy" aria-labelledby="modalArtTherapyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalArtTherapy">Арт терапія</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>Арт-терапія – це зцілення мистецтвом: малюванням, казками, глиною, музикою, фільмами, піском, фотографіями, танцями, театральною грою і т.д.. Творчість дозволяє пережити внутрішні конфлікти, виразити несвідоме,  прожити різні сценарії звертаючись до підсвідомого. Цей метод признаний безпечним, глибоким і ефективним для роботи з дітьми та дорослими.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" tabindex="-1" id="modalMAK" aria-labelledby="modalMAKLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalArtTherapy">МАК</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p>МАК - метафоричні карти з малюнками тварин, людей, місць, речей на різні тематики. Витягуючи карту людина проектує на неї (не)усвідомлені почуття та переживання. Використовування метафоричних карт допомагає людині сформувати запит, краще розкрити проблематику, віднайти ресурс і це класне місце для інсайтів.</p>
            </div>
        </div>
    </div>
</div>
</div>


<style>


#methods2 .card {
    width: 100%; /* Card width is responsive to the column width */
    max-width: 300px;
}

#methods2 .card-img-top {
    width: 100%; /* Image takes full width of the card */
    aspect-ratio: 1 / 1; /* Keeps the image square */
    object-fit: contain; /* Ensures the image covers the area without distortion */
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    max-width: 300px;
}

@media (max-width: 768px) {

    #methods2 .card {
    width: 50vw; /* Card width is responsive to the column width */
margin-left: auto;
margin-right: auto;}

}

/* Media query for screens wider than 768px */
@media (min-width: 768px) {
    #modals-methods .modal-dialog {
        width: 50%; /* Set the width of the modal */
        min-width: 50vw; /* Optional: Ensures modals are not too small on larger screens */
        transform: translate(-50%, -50%); /* Center the modal */
        top: 30%; /* Align vertically at the center */
        left: 50%; /* Align horizontally at the center */
        position: absolute; /* Needed to position the modal dialog properly */
    }
}

</style>
