<section id="latest-blog" class="padding-large pt-0" style="padding-bottom: 59px;">
    <div class="container-lg">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1 class="display-3">Articles &amp; Podcasts</h1>
                <p class="lead w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div>
        </div>
        <div id="blogCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
            <div class="carousel-indicators custom-carousel-indicators">
                <button class="custom-bullet active" type="button" data-bs-target="#blogCarousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
                <button class="custom-bullet" type="button" data-bs-target="#blogCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <!-- Add more buttons as needed -->
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row gy-4">
                        <div class="col-12 col-md-4">
                            <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="img/DALL·E%202024-02-04%2019.43.07%20-%20Design%20a%20professional%20and%20stylized%20image%20that%20evokes%20the%20feeling%20of%20anxiety.%20The%20scene%20should%20depict%20an%20individual%20standing%20in%20the%20middle%20of%20a%20crowded.webp">
                                <div class="card-body p-4">
                                    <p class="text-primary card-text mb-0">Article</p>
                                    <h4 class="card-title">Lorem libero donec</h4>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="img/photo_2022-01-29_19-06-50%20(4).jpg">
                                        <div>
                                            <p class="fw-bold mb-0">Olesya Melnyk</p>
                                            <p class="text-muted mb-0">Gestalt Psychologist</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-none d-md-block">
                            <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="img/DALL·E%202024-02-04%2019.43.07%20-%20Design%20a%20professional%20and%20stylized%20image%20that%20evokes%20the%20feeling%20of%20anxiety.%20The%20scene%20should%20depict%20an%20individual%20standing%20in%20the%20middle%20of%20a%20crowded.webp">
                                <div class="card-body p-4">
                                    <p class="text-primary card-text mb-0">Podcast</p>
                                    <h4 class="card-title">Lorem libero donec</h4>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="img/photo_2022-01-29_19-06-50%20(4).jpg">
                                        <div>
                                            <p class="fw-bold mb-0">Olesya Melnyk</p>
                                            <p class="text-muted mb-0">Gestalt Psychologist</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-none d-md-block">
                            <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="img/DALL·E%202024-02-04%2019.43.07%20-%20Design%20a%20professional%20and%20stylized%20image%20that%20evokes%20the%20feeling%20of%20anxiety.%20The%20scene%20should%20depict%20an%20individual%20standing%20in%20the%20middle%20of%20a%20crowded.webp">
                                <div class="card-body p-4">
                                    <p class="text-primary card-text mb-0">Article</p>
                                    <h4 class="card-title">Lorem libero donec</h4>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="img/photo_2022-01-29_19-06-50%20(4).jpg">
                                        <div>
                                            <p class="fw-bold mb-0">Olesya Melnyk</p>
                                            <p class="text-muted mb-0">Gestalt Psychologist</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row gy-4">
                        <div class="col-12 col-md-4">
                            <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="img/DALL·E%202024-02-04%2019.43.07%20-%20Design%20a%20professional%20and%20stylized%20image%20that%20evokes%20the%20feeling%20of%20anxiety.%20The%20scene%20should%20depict%20an%20individual%20standing%20in%20the%20middle%20of%20a%20crowded.webp">
                                <div class="card-body p-4">
                                    <p class="text-primary card-text mb-0">Article</p>
                                    <h4 class="card-title">Lorem libero donec</h4>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="img/photo_2022-01-29_19-06-50%20(4).jpg">
                                        <div>
                                            <p class="fw-bold mb-0">Olesya Melnyk</p>
                                            <p class="text-muted mb-0">Gestalt Psychologist</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-none d-md-block">
                            <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="img/DALL·E%202024-02-04%2019.43.07%20-%20Design%20a%20professional%20and%20stylized%20image%20that%20evokes%20the%20feeling%20of%20anxiety.%20The%20scene%20should%20depict%20an%20individual%20standing%20in%20the%20middle%20of%20a%20crowded.webp">
                                <div class="card-body p-4">
                                    <p class="text-primary card-text mb-0">Article</p>
                                    <h4 class="card-title">Lorem libero donec</h4>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="img/photo_2022-01-29_19-06-50%20(4).jpg">
                                        <div>
                                            <p class="fw-bold mb-0">Olesya Melnyk</p>
                                            <p class="text-muted mb-0">Gestalt Psychologist</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 d-none d-md-block">
                            <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="img/DALL·E%202024-02-04%2019.43.07%20-%20Design%20a%20professional%20and%20stylized%20image%20that%20evokes%20the%20feeling%20of%20anxiety.%20The%20scene%20should%20depict%20an%20individual%20standing%20in%20the%20middle%20of%20a%20crowded.webp">
                                <div class="card-body p-4">
                                    <p class="text-primary card-text mb-0">Article</p>
                                    <h4 class="card-title">Lorem libero donec</h4>
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="img/photo_2022-01-29_19-06-50%20(4).jpg">
                                        <div>
                                            <p class="fw-bold mb-0">Olesya Melnyk</p>
                                            <p class="text-muted mb-0">Gestalt Psychologist</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="d-xl-flex d-xxl-flex justify-content-xl-center justify-content-xxl-center align-items-xxl-center" style="margin-top: 31px;"><a class="btn btn-outline-primary text-uppercase text-start btn-small mt-3 btn-pill" role="button" href="/posts" style="text-align: center;margin-top: 22px;">VOIR TOUT MON BLOG</a></div>
</section>