<!-- External Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Local Scripts -->
<script src="{{ "js/aos.min.js" | absURL }}"></script>
<script src="{{ "js/bs-init.js" | absURL }}"></script>
<script src="{{ "js/aos.js" | absURL }}"></script>
<script src="{{ "js/plugins.js" | absURL }}"></script>
<script src="{{ "js/scripts.js" | absURL }}"></script>

<script>
    var swiper = new Swiper('.featured-swiper', {
        loop: true,
        grabCursor: true,
        effect: "cards",
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        on: {
            init: function () {
                equalizeSwiperContent(this);
            },
            resize: function () {
                equalizeSwiperContent(this);
            },
            slideChangeTransitionEnd: function () {
                equalizeSwiperContent(this);
            }
        }
    });

    function equalizeSwiperContent(swiper) {
        let maxHeight = 0;
        // Find the tallest content block
        swiper.slides.each(function (index, slide) {
            const content = slide.querySelector('.feat-content');
            if (content.clientHeight > maxHeight) {
                maxHeight = content.clientHeight;
            }
        });
        // Set all content blocks to the height of the tallest one
        swiper.slides.each(function (index, slide) {
            const content = slide.querySelector('.feat-content');
            content.style.height = maxHeight + 'px';
        });
    }
</script>


