<!-- External Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Local Scripts -->
<script src="{{ "js/aos.min.js" | absURL }}"></script>
<script src="{{ "js/bs-init.js" | absURL }}"></script>
<script src="{{ "js/aos.js" | absURL }}"></script>
<script src="{{ "js/plugins.js" | absURL }}"></script>
<script src="{{ "js/scripts.js" | absURL }}"></script>

<script>
    var swiper = new Swiper('.featured-swiper', {
        loop: true,
        grabCursor: true,
        effect: "cards",

        // Replace the navigation configuration with pagination
        pagination: {
            el: '.swiper-pagination',
            clickable: true, // Makes the dots clickable
            dynamicBullets: true, // Optional: For a more dynamic effect
        },

        // Optionally, you can completely remove the 'navigation' configuration
        // If you prefer to keep the HTML markup clean, you might also want to remove the related navigation buttons from the HTML
    });
</script>


