<div class="navbar-container">
    <a href="/" class="navbar-brand">
      <img src="{{ "img/logo-brain-yaga-transformed.webp" | absURL }}" alt="Logo" class="logo">
      <span>OMP</span>
    </a>
    <nav class="navbar-navigation">
      <ul class="nav-list">
        <li><a href="/posts/">Пости</a></li>
        <li><a href="/#about">Про мене</a></li>
        <li><a href="/categories/">Блог</a></li>
        <li><a href="/#pricing">Забронюйте сеанс</a></li>
      </ul>
    </nav>
    <div class="navbar-icons">
      <a href="https://t.me/OlessiaProfesseure" target="_blank" aria-label="Telegram">
        <img src="{{ "img/Telegram_purple.svg" | absURL }}" alt="Telegram">
      </a>
      <a href="viber://chat?number=+YourNumber" target="_blank" aria-label="Viber">
        <img src="{{ "img/Viber_purple.svg" | absURL }}" alt="Viber">
      </a>
    </div>
  </div>
