<section id="testimonials" class="testimonial-gallery py-4 py-xl-5 second-background standard-section-margins">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h1 class="display-3 text-secondary">What my clients say</h1>
                <p class="lead w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div>
        </div>
        <div class="row gx-0 gy-3 row-cols-1 row-cols-md-2 row-cols-xl-3 photos">
            <div class="col item testimonial-item" data-aos="fade-down-right" style="background: url('img/individual.webp') center / cover; border-radius: 13px;">
                <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                    <div class="d-flex flex-column align-items-center"> <!-- Updated classes for flexbox centering -->
                        <p class="testimonial-text">John Doe - Overcame Anxiety</p>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testimonialModal1">+</button>
                    </div>
                </div>
            </div>
            <div class="col item testimonial-item" data-aos="fade-down"  style="background: url(&quot;img/featured-item2.webp&quot;) center / cover;border-radius: 13px;">
                <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                    <div class="d-flex flex-column align-items-center">
                        <p class="testimonial-text">John KEK - Overcame Anxiety</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testimonialModal2">+</button>
                    </div>
                </div>
            </div>
            <div class="col item testimonial-item" data-aos="fade-down-left" style="background: url(&quot;img/featured-item6.webp&quot;) center / cover;border-radius: 13px;">
                <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                    <div class="d-flex flex-column align-items-center">
                        <p class="testimonial-text">John Doe - Overcame Anxiety</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testimonialModal3">+</button>
                    </div>
                </div>
            </div>
            <div class="col item testimonial-item" data-aos="fade-up-right" style="background: url(&quot;img/featured-item3.webp&quot;) center / cover;border-radius: 13px;">
                <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                    <div class="d-flex flex-column align-items-center">
                        <p class="testimonial-text">John Doe - Overcame Anxiety</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testimonialModal4">+</button>
                    </div>
                </div>
            </div>
            <div class="col item testimonial-item" data-aos="fade-up" style="background: url(&quot;img/anxietypic.webp&quot;) center / cover;border-radius: 13px;">
                <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                    <div class="d-flex flex-column align-items-center">
                        <p class="testimonial-text">John Doe - Overcame Anxiety</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testimonialModal5">+</button>
                    </div>
                </div>
            </div>
            <div class="col item testimonial-item" data-aos="fade-up-left" style="background: url(&quot;img/panicattacks.webp&quot;) center / cover no-repeat;border-radius: 13px;">
                <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                    <div class="d-flex flex-column align-items-center">
                        <p class="testimonial-text">John Doe - Overcame Anxiety</p><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testimonialModal6">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class=" modalstocker">

    <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal1" aria-labelledby="testimonialModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="issue-modal-9">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal2" aria-labelledby="testimonialModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="issue-modal-9">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal3" aria-labelledby="testimonialModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="issue-modal-9">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal4" aria-labelledby="testimonialModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="issue-modal-9">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal5" aria-labelledby="testimonialModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="issue-modal-9">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal6" aria-labelledby="testimonialModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="issue-modal-9">Gestalt Therapy</h5><button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <p>Gestalt Therapy emphasizes personal responsibility and focuses on the individual's experience in the present moment, the therapist-client relationship, the environmental and social contexts of a person's life, and the self-regulating adjustments people make as a result of their overall situation. It integrates the body and mind factors, allowing clients to become more self-aware and to understand the blockages that may hinder their personal growth and development.</p>
                </div>
            </div>
        </div>
    </div>

</div>
</section>

<style>

    @media (max-width: 768px) {
        .photos {
            padding-left: 50px;
            padding-right: 50px;
        }
        
    }

    @media (min-width: 768px) {
    .testimonial-item {
    margin: 5px;
    flex: 0 0 calc(33.333% - 10px); /* Subtract total horizontal margin from 1/3 of container width */
    max-width: calc(33.333% - 10px); /* Ensure max-width also accounts for margin */}
}
    
</style>