<section id="testimonials" class="testimonial-gallery second-background overflow-hidden">
    <div class="container">
        <div class="row mb-5">
            <div class="text-center mx-auto">
                <h2 class="display-4 text-secondary" style="margin-bottom: 50px; margin-top: 50px;">{{ i18n "testimonialSwiper-heading" }}</h2>
                <p class="lead w-lg-50">{{ i18n "testimonialSwiper-subtitle" }}</p>
            </div>
        </div>

        <div class="row" style="margin-top:-25px">


            <!-- Column for Carousel -->
            <div class="col-12 col-md-7" style="margin-top:-35px">
                <div class="phone-mockup text-center">
                    <!-- Swiper Carousel (Your existing carousel setup) -->
                    <div class="swiper myMockupSwiper">
                        <div class="swiper-wrapper">
                            <!-- Slide with the first mockup -->
                            <div class="swiper-slide">
                                <img src="img/desktop/avis_ukr0-portrait.webp" alt='{{ i18n "testimonialSwiper-phone1-image_desc" }}' class="phone-bg">
                                <!-- Hidden container for detailed content -->
                            <div class="slide-content" style="display: none;">{{ i18n "testimonialSwiper-phone1-description" | safeHTML }}</div>
                            
                            </div>

        
                            <!-- Slide with the second mockup -->
                            <div class="swiper-slide">
                                <img src="img/desktop/avis_ukr1-portrait.webp" alt='{{ i18n "testimonialSwiper-phone2-image_desc" }}' class="phone-bg">
                                <!-- Hidden container for detailed content -->
                                <div class="slide-content" style="display: none;">{{ i18n "testimonialSwiper-phone2-description" | safeHTML }}</div>

                            </div>
        
                                    <!-- Slide with the third mockup -->
                            <div class="swiper-slide">
                                <img src="img/desktop/iphone12-screen3.webp" alt='{{ i18n "testimonialSwiper-phone3-image_desc" }}' class="phone-bg">
        <!-- Hidden container for detailed content -->
        <div class="slide-content" style="display: none;">{{ i18n "testimonialSwiper-phone3-description" | safeHTML }}</div>

                            </div>
                    
        
                    
                        </div>
                        <!-- Optional: Add pagination -->
                        <div class="swiper-phone-pagination"></div>
                    </div>
                </div>
            </div>
    
                    <!-- Column for Information -->
                    <div class="col-12 col-md-5">
                        <div id="carouselInfo" class="carousel-info">
                            <!-- Dynamic Content based on the active carousel item will be displayed here -->
                            <h2 id="infoTitle">Item Title</h2>
                            <p id="infoDescription">Description of the active carousel item.</p>
                        </div>
                    </div>
        </div>



    </div>
</section>

  