<section id="issues-reforged" class="overflow-hidden">
    <div class="container-fluid">
        <h2 class="display-4 text-center" style="margin-bottom: 50px; margin-top: 50px;">В яких ситуаціях помагаю</h2>

<div class="d-flex justify-content-center">
        <p class="cartouche-heading">Особистісні виклики</p>

    </div>
            
                <div class="row">
                    <div class="col">
        <!-- Swiper -->
        <div class="swiper-container swiper-issues">
            <div class="swiper-wrapper">
                <!-- Slide 1 with Custom Card -->
                <div class="swiper-slide">
                    <div class="card flex-md-row">
                        <div class="card-img-left d-flex">
                            <img src="img\illustrations_dalle_site\depression_trivoga.webp" class="img-fluid" alt="Issue 1" style="object-fit: cover; aspect-ratio: 16 / 9;">
                        </div>
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h3 class="card-title">Тривога. Панічні атаки. Депресія.</h3>
                            <p class="card-text text-muted">Ці стани можуть значно обмежувати якість життя, але з правильною підтримкою та стратегіями можна знайти полегшення та повернутися до повноцінного життя.</p>
                            <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                        </div>
                    </div>
                </div>
        
                <!-- Slide 2 with Custom Card -->
                <div class="swiper-slide">
                    <div class="card flex-md-row flex-md-row-reverse">
                        <div class="card-img-left d-flex">
                            <img src="img\illustrations_dalle_site\self_esteem.webp" class="img-fluid" alt="Issue 2" style="object-fit: cover; aspect-ratio: 16 / 9;">
                        </div>
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h3 class="card-title">Невпевненість в собі та проблеми з самооцінкою.</h3>
                            <p class="card-text text-muted">Побудова внутрішньої сили та самоповаги вимагає часу та рефлексії. Визнання власних досягнень та позитивних якостей може стати першим кроком.</p>
                            <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                        </div>
                    </div>
                </div>
        
                <!-- Slide 3 with Custom Card -->
                <div class="swiper-slide">
                    <div class="card flex-md-row">
                        <div class="card-img-left d-flex">
                            <img src="img\illustrations_dalle_site\psychosomatics.webp" class="img-fluid" alt="Issue 3" style="object-fit: cover; aspect-ratio: 16 / 9;">
                        </div>
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h3 class="card-title">Психосоматика: порушення ШКТ, ВСД, болі в тілі, вагінізм.</h3>
                            <p class="card-text text-muted">Тіло та розум тісно пов'язані. Емоційний дискомфорт може викликати фізичні симптоми, але розуміння та адресація емоційних потреб може полегшити стан.</p>
                            <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                        </div>
                    </div>
                </div>

                <!-- Slide 4 with Custom Card -->
                <div class="swiper-slide">
                    <div class="card flex-md-row">
                        <div class="card-img-left d-flex">
                            <img src="img\illustrations_dalle_site\professional_issues.webp" class="img-fluid" alt="Issue 3" style="object-fit: cover; aspect-ratio: 16 / 9;">
                        </div>
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h3 class="card-title">Складнощі в професійній діяльності та вигорання.</h3>
                            <p class="card-text text-muted">Конфлікти з колегами, професійна стагнація, вигорання, професійна невизначеність 
                                можуть призводити до стресу, викликати невдоволення собою і навіть впливати на сімейні стосунки.</p>
                            <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                        </div>
                    </div>
                </div>
            </div>
        
                <!-- Add Pagination -->
                <div class="swiper-issues-pagination paginatus"></div>
        
        
            </div>
        </div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="cartouche-heading">Відносини та спілкування</p>

        </div>

            
                <div class="row">
                    <div class="col">
                    <!-- Swiper -->
                    <div class="swiper-container swiper-issues1">
                        <div class="swiper-wrapper">
                            <!-- Slide 1 with Custom Card -->
                            <div class="swiper-slide">
                                <div class="card flex-md-row">
                                    <div class="card-img-left d-flex">
                                        <img src="img\illustrations_dalle_site\pb_famille_3.webp" class="img-fluid" alt="Issue 1" style="object-fit: cover; aspect-ratio: 16 / 9;">
                                    </div>
                                    <div class="card-body d-flex flex-column justify-content-center">
                                        <h3 class="card-title">Труднощі в партнерських та сімейних стосунках.</h3>
                                        <p class="card-text text-muted">Стосунки вимагають роботи та взаєморозуміння. Непорозуміння та конфлікти можуть підривати довіру та спільне щастя. Працюючи разом, ми можемо знайти шляхи до гармонії та взаємопідтримки.</p>
                                        <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                                    </div>
                                </div>
                            </div>
            
                    <!-- Slide 2 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row flex-md-row-reverse">
                            <div class="card-img-left d-flex">
                                <img src="img\illustrations_dalle_site\social_problem.webp" class="img-fluid" alt="Issue 2" style="object-fit: cover; aspect-ratio: 16 / 9;">
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">Складнощі в стосунках з людьми.</h3>
                                <p class="card-text text-muted">Ефективне спілкування та емпатія є ключами до міцних стосунків. Розуміння та повага до кордонів кожного допоможе побудувати здорові взаємовідносини.</p>
                                <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                            </div>
                        </div>
                    </div>
            
                    <!-- Slide 3 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row">
                            <div class="card-img-left d-flex">
                                <img src="img\illustrations_dalle_site\remont_zradi.webp" class="img-fluid" alt="Issue 3" style="object-fit: cover; aspect-ratio: 16 / 9;">
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">Відновлення довіри після зради.</h3>
                                <p class="card-text text-muted">Зрада завдає болю та руйнує довіру, але зцілення можливе через відвертість та спільну роботу над відносинами. Важливо визначити корінь проблеми та працювати над її вирішенням.</p>
                                <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                    <!-- Add Pagination -->
                    <div class="swiper-issues-pagination1 paginatus"></div>
            
            
                </div>
            </div>
            </div>
            <div class="d-flex justify-content-center">
                <p class="cartouche-heading">Виклики життєвих переходів</p>

            </div>
              
                    <div class="row">
                        <div class="col">
            <!-- Swiper -->
            <div class="swiper-container swiper-issues2">
                <div class="swiper-wrapper">
                    <!-- Slide 1 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row">
                            <div class="card-img-left d-flex">
                                <img src="img\illustrations_dalle_site\poshuk_cebe.webp" class="img-fluid" alt="Issue 1" style="object-fit: cover; aspect-ratio: 16 / 9;">
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">Пошук себе та сенсу.</h3>
                                <p class="card-text text-muted">Розуміння власної ідентичності та призначення вимагає самопізнання та часу. Ця подорож може бути викликом, але й джерелом глибокого особистого зростання.</p>
                                <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                            </div>
                        </div>
                    </div>
            
                    <!-- Slide 2 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row flex-md-row-reverse">
                            <div class="card-img-left d-flex">
                                <img src="img\illustrations_dalle_site\new_country4.webp" class="img-fluid" alt="Issue 2" style="object-fit: cover; aspect-ratio: 16 / 9;">
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">Труднощі адаптації в новій країні.</h3>
                                <p class="card-text text-muted">Адаптація до нового середовища може бути складним процесом. Виклики з мовним бар'єром, звиканням до нових культурних норм і пошуком друзів можуть викликати стрес і відчуття ізоляції.</p>
                                <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                            </div>
                        </div>
                    </div>
            
                    <!-- Slide 3 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row">
                            <div class="card-img-left d-flex">
                                <img src="img\illustrations_dalle_site\deuil1.webp" class="img-fluid" alt="Issue 3" style="object-fit: cover; aspect-ratio: 16 / 9;">
                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">Горювання. Втрата дитини, батьків або партнера.</h3>
                                <p class="card-text text-muted">Втрата близької людини є одним із найскладніших випробувань, що вимагає часу для проживання горя та адаптації до нових обставин життя.</p>
                                <button class="btn btn-outline-secondary mt-auto">Читати більше</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                    <!-- Add Pagination -->
                    <div class="swiper-issues-pagination2 paginatus"></div>
            
            
                </div>
            </div>
            </div>
                
          







</div>
</div>
    
</section>

<style>
    #issues-reforged .paginatus {
        text-align:center;
        margin-top : 20px
    }
#issues-reforged .row, #issues-reforged .col {
    padding: 0;
    margin: 0;
}
#issues-reforged .issue-row {
    margin-bottom: 15px; /* Spacing between issues */
    display: flex; /* Use flex to center the card horizontally */
    justify-content: center; /* Center the card horizontally */
}

#issues-reforged .card-title {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1em;
}

#issues-reforged .card-img-left img {
    border-top-left-radius: 0px; /* Align with card border radius */
    border-bottom-left-radius: 0px; /* Align with card border radius */
}



#issues-reforged .card-body {
    flex: 1; /* Allow the card body to fill the space next to the image */
}

/* Centering the button within the card body */
#issues-reforged .card-body .btn {
    display: block; /* Make the button a block element */
    width: auto; /* Avoid full-width button */
    margin: 0 auto; /* Center the button horizontally */
}

#issues-reforged .issue-row {
        width: auto; /* Set row width on desktop */
    }

    #issues-reforged .card-text {
    font-size: 0.9rem; /* Adjust the font size as needed */
}


@media (min-width: 768px) {

    #issues-reforged .img-fluid {
    width: auto; /* Set image width on desktop */
        max-width: 400px;
        height: auto;
        max-height: 400px;
}

    #issues-reforged .card-body {
    flex: 1; /* Allow the card body to fill the space next to the image */
    padding: 35px;
}

    #issues-reforged .card-img-left {
        width: auto; /* Set image width on desktop */
        max-width: 400px;
        height: auto;
        max-height: 400px;
        border-top-left-radius: 0px; /* Align with card border radius */
        border-bottom-left-radius: 0px; /* Align with card border radius */
    }

    #issues-reforged .flex-md-row-reverse .card-img-left img {
        border-top-right-radius: 0px; /* Adjust border radius for inverted cards */
        border-bottom-right-radius: 0px; /* Remove bottom-right border radius for inverted cards */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; /* Add bottom-left border radius for inverted cards */
    }

    #issues-reforged .card {
        border-radius: 0px; /* Remove border-radius on desktop */
        max-width:900px
    }
    #issues-reforged .swiper-slide {
        border-radius: 0px; /* Remove border-radius on desktop */
        max-width:900px
    }

    
/* Darken all slides by default */
#issues-reforged .swiper-slide {
    filter: brightness(50%);
    position: relative;
    visibility: visible !important;

}

#issues-reforged .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); /* Lighter overlay since we're also using brightness filter */
    transition: opacity 0.3s;
    opacity: 1;
}

/* Full brightness and no overlay for the active slide */
#issues-reforged .swiper-slide-active {
    filter: brightness(100%);
}

#issues-reforged .swiper-slide-active::before {
    opacity: 0;
}

    
}

/* Mobile-specific styles */
@media (max-width: 767.98px) {
    #issues-reforged .card-img-left img {
        border-bottom-left-radius: 0; /* Remove bottom border-radius for the image on mobile */
        border-bottom-right-radius: 0; /* Remove bottom border-radius for the image on mobile */
        border-top-right-radius: 0px; /* Align with card border radius */
        border-top-left-radius: 0px; /* Align with card border radius */



    }

    #issues-reforged .card {
        border-bottom-left-radius: 0px; /* Add bottom-left border-radius for the card on mobile */
        border-bottom-right-radius: 0px; /* Add bottom-right border-radius for the card on mobile */
    }

    #issues-reforged .card {
        border-radius: 0px; /* Remove border-radius on desktop */
        max-width:300px
    }
    #issues-reforged .swiper-slide {
        border-radius: 0px; /* Remove border-radius on desktop */
        max-width:300px
    }
}




</style>