<section id="issues-reforged" class="overflow-hidden">
    <div class="container-fluid">
        <h2 class="display-4 text-center" style="margin-bottom: 0px; margin-top: 50px;">{{ i18n "issues-section-heading" }}</h2>

<div class="d-flex justify-content-center">
        <p class="cartouche-heading ">{{ i18n "cartouche-heading-1" }}</p>
    </div>
            
                <div class="row">
                    <div class="col">
        <!-- Swiper -->
        <div class="swiper-container swiper-issues">
            <div class="swiper-wrapper">
                <!-- Slide 1 with Custom Card -->
                <div class="swiper-slide">
                    <div class="card flex-md-row">
                        <div class="card-img-left d-flex">
                            <img src="img/illustrations_dalle_site/desktop_issues/depression_trivoga.webp"
                            srcset="img/illustrations_dalle_site/desktop_issues/depression_trivoga.webp 400w, 
                                    img/illustrations_dalle_site/mobile_issues/depression_trivoga.webp 298w"
                            sizes="(min-width: 768px) 400px, 298px"
                            class="img-fluid" 
                            alt="Issue 2" 
                            style="object-fit: cover; aspect-ratio: 16 / 9;">

                        </div>
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h3 class="card-title">{{ i18n "type_1-issue_1-title" }}</h3>
                            <p class="card-text text-muted">{{ i18n "type_1-issue_1-body" }}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Slide 2 with Custom Card -->
                <div class="swiper-slide">
                    <div class="card flex-md-row flex-md-row-reverse">
                        <div class="card-img-left d-flex">
                            <img src="img/illustrations_dalle_site/desktop_issues/self_esteem.webp"
                            srcset="img/illustrations_dalle_site/desktop_issues/self_esteem.webp 400w, 
                                    img/illustrations_dalle_site/mobile_issues/self_esteem.webp 298w"
                            sizes="(min-width: 768px) 400px, 298px"
                            class="img-fluid" 
                            alt="Issue 2" 
                            style="object-fit: cover; aspect-ratio: 16 / 9;">
                                                </div>
                                                <div class="card-body d-flex flex-column justify-content-center">
                                                    <h3 class="card-title">{{ i18n "type_1-issue_2-title" }}</h3>
                                                    <p class="card-text text-muted">{{ i18n "type_1-issue_2-body" }}</p>
                        </div>
                    </div>
                </div>
        
                <!-- Slide 3 with Custom Card -->
                <div class="swiper-slide">
                    <div class="card flex-md-row">
                        <div class="card-img-left d-flex">
                            <img src="img/illustrations_dalle_site/desktop_issues/psychosomatics.webp"
                            srcset="img/illustrations_dalle_site/desktop_issues/psychosomatics.webp 400w, 
                                    img/illustrations_dalle_site/mobile_issues/psychosomatics.webp 298w"
                            sizes="(min-width: 768px) 400px, 298px"
                            class="img-fluid" 
                            alt="Issue 2" 
                            style="object-fit: cover; aspect-ratio: 16 / 9;">
                            

                        </div>
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h3 class="card-title">{{ i18n "type_1-issue_3-title" }}</h3>
                            <p class="card-text text-muted">{{ i18n "type_1-issue_3-body" }}</p>
                        </div>
                    </div>
                </div>

                <!-- Slide 4 with Custom Card -->
                <div class="swiper-slide">
                    <div class="card flex-md-row">
                        <div class="card-img-left d-flex">

                            <img src="img/illustrations_dalle_site/desktop_issues/professional_issues.webp"
                            srcset="img/illustrations_dalle_site/desktop_issues/professional_issues.webp 400w, 
                                    img/illustrations_dalle_site/mobile_issues/professional_issues.webp 298w"
                            sizes="(min-width: 768px) 400px, 298px"
                            class="img-fluid" 
                            alt="Issue 2" 
                            style="object-fit: cover; aspect-ratio: 16 / 9;">
                       

                        </div>
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h3 class="card-title">{{ i18n "type_1-issue_4-title" }}</h3>
                            <p class="card-text text-muted">{{ i18n "type_1-issue_4-body" }}</p>
                        </div>
                    </div>
                </div>
            </div>
        
                <!-- Add Pagination -->
                <div class="swiper-issues-pagination paginatus"></div>
        
        
            </div>
        </div>
        </div>
        <div class="d-flex justify-content-center">
            <p class="cartouche-heading">{{ i18n "cartouche-heading-2" }}</p>

        </div>

            
                <div class="row">
                    <div class="col">
                    <!-- Swiper -->
                    <div class="swiper-container swiper-issues1">
                        <div class="swiper-wrapper">
                            <!-- Slide 1 with Custom Card -->
                            <div class="swiper-slide">
                                <div class="card flex-md-row">
                                    <div class="card-img-left d-flex">
                                        <img src="img/illustrations_dalle_site/desktop_issues/pb_famille_3.webp"
                                        srcset="img/illustrations_dalle_site/desktop_issues/pb_famille_3.webp 400w, 
                                                img/illustrations_dalle_site/mobile_issues/pb_famille_3.webp 298w"
                                        sizes="(min-width: 768px) 400px, 298px"
                                        class="img-fluid" 
                                        alt="Issue 2" 
                                        style="object-fit: cover; aspect-ratio: 16 / 9;">
                                   

                                    </div>
                                    <div class="card-body d-flex flex-column justify-content-center">
                                        <h3 class="card-title">{{ i18n "type_2-issue_1-title" }}</h3>
                                        <p class="card-text text-muted">{{ i18n "type_2-issue_1-body" }}</p>
                                    </div>
                                </div>
                            </div>
            
                    <!-- Slide 2 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row flex-md-row-reverse">
                            <div class="card-img-left d-flex">
                                <img src="img/illustrations_dalle_site/desktop_issues/social_problem.webp"
                                srcset="img/illustrations_dalle_site/desktop_issues/social_problem.webp 400w, 
                                        img/illustrations_dalle_site/mobile_issues/social_problem.webp 298w"
                                sizes="(min-width: 768px) 400px, 298px"
                                class="img-fluid" 
                                alt="Issue 2" 
                                style="object-fit: cover; aspect-ratio: 16 / 9;">
                           

                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">{{ i18n "type_2-issue_2-title" }}</h3>
                                <p class="card-text text-muted">{{ i18n "type_2-issue_2-body" }}</p>
                            </div>
                        </div>
                    </div>
            
                    <!-- Slide 3 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row">
                            <div class="card-img-left d-flex">

                                <img src="img/illustrations_dalle_site/desktop_issues/remont_zradi.webp"
                                srcset="img/illustrations_dalle_site/desktop_issues/remont_zradi.webp 400w, 
                                        img/illustrations_dalle_site/mobile_issues/remont_zradi.webp 298w"
                                sizes="(min-width: 768px) 400px, 298px"
                                class="img-fluid" 
                                alt="Issue 2" 
                                style="object-fit: cover; aspect-ratio: 16 / 9;">
                           

                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">{{ i18n "type_2-issue_3-title" }}</h3>
                                <p class="card-text text-muted">{{ i18n "type_2-issue_3-body" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            
                    <!-- Add Pagination -->
                    <div class="swiper-issues-pagination1 paginatus"></div>
            
            
                </div>
            </div>
            </div>
            <div class="d-flex justify-content-center">
                <p class="cartouche-heading">{{ i18n "cartouche-heading-3" }}</p>

            </div>
              
                    <div class="row">
                        <div class="col">
            <!-- Swiper -->
            <div class="swiper-container swiper-issues2">
                <div class="swiper-wrapper">
                    <!-- Slide 1 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row">
                            <div class="card-img-left d-flex">
                                <img src="img/illustrations_dalle_site/desktop_issues/poshuk_cebe.webp"
                                srcset="img/illustrations_dalle_site/desktop_issues/poshuk_cebe.webp 400w, 
                                        img/illustrations_dalle_site/mobile_issues/poshuk_cebe.webp 298w"
                                sizes="(min-width: 768px) 400px, 298px"
                                class="img-fluid" 
                                alt="Issue 2" 
                                style="object-fit: cover; aspect-ratio: 16 / 9;">
                           

                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">{{ i18n "type_3-issue_1-title" }}</h3>
                                <p class="card-text text-muted">{{ i18n "type_3-issue_1-body" }}</p>
                            </div>
                        </div>
                    </div>
            
                    <!-- Slide 2 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row flex-md-row-reverse">
                            <div class="card-img-left d-flex">
                                <img src="img/illustrations_dalle_site/desktop_issues/new_country4.webp"
                                srcset="img/illustrations_dalle_site/desktop_issues/new_country4.webp 400w, 
                                        img/illustrations_dalle_site/mobile_issues/new_country4.webp 298w"
                                sizes="(min-width: 768px) 400px, 298px"
                                class="img-fluid" 
                                alt="Issue 2" 
                                style="object-fit: cover; aspect-ratio: 16 / 9;">
                           

                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">{{ i18n "type_3-issue_2-title" }}</h3>
                                <p class="card-text text-muted">{{ i18n "type_3-issue_2-body" }}</p>
                            </div>
                        </div>
                    </div>
            
                    <!-- Slide 3 with Custom Card -->
                    <div class="swiper-slide">
                        <div class="card flex-md-row">
                            <div class="card-img-left d-flex">

                                <img src="img/illustrations_dalle_site/desktop_issues/deuil1.webp"
                                srcset="img/illustrations_dalle_site/desktop_issues/deuil1.webp 400w, 
                                        img/illustrations_dalle_site/mobile_issues/deuil1.webp 298w"
                                sizes="(min-width: 768px) 400px, 298px"
                                class="img-fluid" 
                                alt="Issue 2" 
                                style="object-fit: cover; aspect-ratio: 16 / 9;">
                           

                            </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h3 class="card-title">{{ i18n "type_3-issue_3-title" }}</h3>
                                <p class="card-text text-muted">{{ i18n "type_3-issue_3-body" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            
                    <!-- Add Pagination -->
                    <div class="swiper-issues-pagination2 paginatus"></div>
            
            
                </div>
            </div>
            </div>
                
          







</div>
</div>
    
</section>

<style>
    #issues-reforged .paginatus {
        text-align:center;
        margin-top : 20px
    }
#issues-reforged .row, #issues-reforged .col {
    padding: 0;
    margin: 0;
}
#issues-reforged .issue-row {
    margin-bottom: 15px; /* Spacing between issues */
    display: flex; /* Use flex to center the card horizontally */
    justify-content: center; /* Center the card horizontally */
}

#issues-reforged .card-title {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1em;
}

#issues-reforged .card-img-left img {
    border-top-left-radius: 0px; /* Align with card border radius */
    border-bottom-left-radius: 0px; /* Align with card border radius */
}



#issues-reforged .card-body {
    flex: 1; /* Allow the card body to fill the space next to the image */
}

/* Centering the button within the card body */
#issues-reforged .card-body .btn {
    display: block; /* Make the button a block element */
    width: auto; /* Avoid full-width button */
    margin: 0 auto; /* Center the button horizontally */
}

#issues-reforged .issue-row {
        width: auto; /* Set row width on desktop */
    }

    #issues-reforged .card-text {
    font-size: 0.9rem; /* Adjust the font size as needed */
}


@media (min-width: 768px) {

    #issues-reforged .img-fluid {
    width: auto; /* Set image width on desktop */
        max-width: 400px;
        height: auto;
        max-height: 400px;
}

    #issues-reforged .card-body {
    flex: 1; /* Allow the card body to fill the space next to the image */
    padding: 10px 35px;
}

    #issues-reforged .card-img-left {
        width: auto; /* Set image width on desktop */
        max-width: 400px;
        height: auto;
        max-height: 400px;
        border-top-left-radius: 0px; /* Align with card border radius */
        border-bottom-left-radius: 0px; /* Align with card border radius */
    }

    #issues-reforged .flex-md-row-reverse .card-img-left img {
        border-top-right-radius: 0px; /* Adjust border radius for inverted cards */
        border-bottom-right-radius: 0px; /* Remove bottom-right border radius for inverted cards */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; /* Add bottom-left border radius for inverted cards */
    }

    #issues-reforged .card {
        border-radius: 0px; /* Remove border-radius on desktop */
        max-width:900px
    }
    #issues-reforged .swiper-slide {
        border-radius: 0px; /* Remove border-radius on desktop */
        max-width:900px
    }

    
/* Darken all slides by default */
#issues-reforged .swiper-slide {
    filter: brightness(50%);
    position: relative;
    visibility: visible !important;

}

#issues-reforged .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); /* Lighter overlay since we're also using brightness filter */
    transition: opacity 0.3s;
    opacity: 1;
}

/* Full brightness and no overlay for the active slide */
#issues-reforged .swiper-slide-active {
    filter: brightness(100%);
}

#issues-reforged .swiper-slide-active::before {
    opacity: 0;
}

    
}

/* Mobile-specific styles */
@media (max-width: 767.98px) {
    #issues-reforged .card-img-left img {
        border-bottom-left-radius: 0; /* Remove bottom border-radius for the image on mobile */
        border-bottom-right-radius: 0; /* Remove bottom border-radius for the image on mobile */
        border-top-right-radius: 0px; /* Align with card border radius */
        border-top-left-radius: 0px; /* Align with card border radius */



    }

    #issues-reforged .card {
        border-bottom-left-radius: 0px; /* Add bottom-left border-radius for the card on mobile */
        border-bottom-right-radius: 0px; /* Add bottom-right border-radius for the card on mobile */
    }

    #issues-reforged .card {
        border-radius: 0px; /* Remove border-radius on desktop */
        max-width:300px
    }
    #issues-reforged .swiper-slide {
        border-radius: 0px; /* Remove border-radius on desktop */
        max-width:300px
    }
}




</style>