
{{ define "main" }}
    <section id="intro" class="padding-large position-relative overflow-hidden ps-xxl- pt-xxl- pe-xxl-" style="width: 100%;height: 1109px;background: url('img/photo_2022-01-29_19-06-50%20(2).jpg') center / cover no-repeat;padding-left: 56px;padding-right: 59px;padding-bottom: 124px;padding-top: 162px;margin-top: 0px;margin-bottom: 114px;margin-right: -1px;border-radius: 25px;border-top-left-radius: 0;border-top-right-radius: 0;border-bottom-left-radius: 13px;border-bottom-right-radius: 13px;">
        <div class="container-xl">
            <div class="row justify-content-between justify-content-lg-between">
                <div class="col-md-12 col-lg-6 d-flex align-items-center">
                    <div class="banner-content pb-5" style="margin-left: -16px;">
                        <h1 class="banner-title mb-4 text-fading" style="padding-right: 0px;font-size: 64.8px;margin-left: -43px;padding-left: 13px;">Change Your Life By <span class="gradient-text">Psychology</span></h1>
                        <p style="background: var(--bs-primary-bg-subtle);border-radius: 13px;padding-top: 9px;padding-bottom: 9px;padding-left: 14px;padding-right: 14px;">Psychology is very nice to become nice</p>
                        <a class="btn btn-primary text-uppercase btn-small btn-pill" role="button" data-bss-hover-animate="pulse" style="text-align: center; margin-top:25px" href="#contact-me">BOOK a SESSION</a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="feature-area">
                        <div class="swiper featured-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="image-holder"><img class="img-fluid border-rounded-top" src="img/featured-item1.jpg" alt="Understand Yourself"></div>
                                    <div class="text-center bg-light feat-content p-5 border-rounded-bottom ps- pe-" style="padding: 15px;padding-right: 24px;padding-top: 15px;padding-bottom: 15px;padding-left: 20px;">
                                        <h4>Self-Understanding</h4>
                                        <p class="fs-6 fw-light">Engaging in psychotherapy can lead to greater self-awareness, helping you understand your thoughts, emotions, and behaviors. This self-knowledge is a critical step towards personal growth and well-being.</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-holder"><img class="img-fluid border-rounded-top" src="img/featured-item2.jpg" alt="Repair your relations"></div>
                                    <div class="text-center bg-light feat-content p-5 border-rounded-bottom">
                                        <h3>Improved Relationships</h3>
                                        <p class="fs-6 fw-light">Psychotherapy provides tools and insights to improve communication and relationships. By addressing and resolving conflicts, you can foster healthier and more fulfilling connections with others.</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-holder"><img class="img-fluid border-rounded-top" src="img/featured-item3.jpg" alt="Be relaxed at all times"></div>
                                    <div class="text-center bg-light feat-content p-5 border-rounded-bottom">
                                        <h3>Stress Reduction</h3>
                                        <p class="fs-6 fw-light">Learn effective coping strategies to manage and reduce stress. Psychotherapy helps you navigate life's pressures in healthier ways, promoting a sense of calm and balance.</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-holder"><img class="img-fluid border-rounded-top" src="img/featured-item4.jpg" alt="Let nothing bother you"></div>
                                    <div class="text-center bg-light feat-content p-5 border-rounded-bottom">
                                        <h3>Emotional Resilience</h3>
                                        <p class="fs-6 fw-light">Building emotional resilience is a key benefit of psychotherapy. It equips you with the ability to handle life's ups and downs, leading to a more adaptable and robust emotional state.</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-holder"><img class="img-fluid border-rounded-top" src="img/featured-item5.jpg" alt="Understand the world better"></div>
                                    <div class="text-center bg-light feat-content p-5 border-rounded-bottom">
                                        <h3>Better Decision-Making</h3>
                                        <p class="fs-6 fw-light">With a clearer understanding of yourself and your situation, psychotherapy can enhance your decision-making capabilities, leading to choices that align more closely with your values and goals.</p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-holder"><img class="img-fluid border-rounded-top" src="img/featured-item6.jpg" alt="Repair your soul"></div>
                                    <div class="text-center bg-light feat-content p-5 border-rounded-bottom">
                                        <h3>Overcoming Trauma</h3>
                                        <p class="fs-6 fw-light">Psychotherapy provides a safe space to process and heal from past traumas. It's an avenue to work through painful experiences and start the journey towards healing and recovery.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {{ partial "issues2.html" . }}

    

    <section id="about" class="overflow-hidden" style="padding-top: 60px;padding-bottom: 60px;background: #dadada;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div data-aos="zoom-in" class="image-holder" style="min-height: 700px;background: url('img/photo_debout_livre.jpg') top / cover no-repeat;border-radius: 13px;"></div>
                </div>
                <div class="col-lg-6 kek" style="padding-left: 50px;">
                    <div data-aos="fade-left" data-aos-duration="2000" class="about-us-content" style="text-align: center;">
                        <h1 class="display-1 text-secondary" style="text-align: center; padding-bottom:25px">Kto Ya ?</h1><q class="pb-3">True yoga is not about the shape of your body, but the shape of your life. Yoga is not to be performed yoga is to be lived.</q>
                        <p class="lead" style="text-align: justify">True yoga is not about the shape of your body, but the shape of your life. Yoga is not to be performed yoga is to be lived. Yoga doesn’t care about what you have been yoga cares about the person you are becoming. Yoga is designed for a vast and profound purpose, and for it to be truly called yoga.</p>
                        <a class="btn btn-primary text-uppercase btn-small btn-pill" role="button" data-bss-hover-animate="pulse" style="text-align: center; margin-top:25px" data-bs-target="#about-me-modal" data-bs-toggle="modal">My CAREER AND QUALIFICATIONS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" role="dialog" tabindex="-1" id="about-me-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">More About Me</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Ok. So yeah thats' me.&nbsp;<br><br><br>Diplom 1.jpg<br><br>I did this and that.</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </div>
    </div>
    {{ partial "methods.html" . }}



    {{ partial "carousel-2.html" . }}
    <section id="FAQ" class="faq-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-xl-flex align-items-xl-center"><img class="img-fluid" src="img/photo_debout_livre.jpg" alt="Context Image" style="border-radius: 13px;"></div>
                <div class="col-md-8 d-xxl-flex flex-column justify-content-xxl-start align-items-xxl-center">
                    <h1 class="display-3" style="padding-bottom: 31px;text-align: left;">Frequently Asked Questions</h1>
                    <p>This section contains answers to commonly asked questions about our psychotherapy services.</p>
                    <div class="accordion" role="tablist" id="faqAccordion">
                        <div class="accordion-item" style="max-width:600px;">
                            <h2 class="accordion-header" role="tab" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is individual psychotherapy and how can it help me?</button></h2>
                            <div class="accordion-collapse collapse show item-1 show" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingOne" id="collapseOne">
                                <div class="accordion-body"><span>Individual psychotherapy involves one-on-one sessions with a therapist, focusing on your personal issues and concerns. It can help you understand your feelings, thoughts, and behaviors, providing strategies to cope with specific challenges, improve relationships, and enhance overall well-being.</span></div>
                            </div>
                        </div>
                        <div class="accordion-item" style="max-width:600px;">
                            <h2 class="accordion-header" role="tab" id="headingTwo"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How long does each therapy session last?</button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingTwo" id="collapseTwo">
                                <div class="accordion-body"><span>Each therapy session typically lasts between 45 to 60 minutes. The length can vary based on the type of therapy and the individual's needs.</span></div>
                            </div>
                        </div>
                        <div class="accordion-item" style="max-width:600px;">
                            <h2 class="accordion-header" role="tab" id="headingThree"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What can I expect during my first therapy session?</button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingThree" id="collapseThree">
                                <div class="accordion-body"><span>In your first session, the therapist will typically discuss your personal history, the reasons you're seeking therapy, and your goals for treatment. It's a chance for you to get to know your therapist and decide if their approach feels right for you.</span></div>
                            </div>
                        </div>
                        <div class="accordion-item" style="max-width:600px;">
                            <h2 class="accordion-header" role="tab" id="headingFour"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Is everything I say in therapy confidential?</button></h2>
                            <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingFour" id="collapseFour">
                                <div class="accordion-body"><span>Yes, all discussions in therapy are confidential and protected by client-therapist privilege. There are some exceptions, such as when there's a risk of harm to yourself or others, which your therapist will explain in your first session.</span></div>
                            </div>
                        </div>
                        <div class="accordion-item" style="max-width:600px;">
                            <h2 class="accordion-header" role="tab" id="headingFive"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How do I know if I need therapy?</button></h2>
                            <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingFive" id="collapseFive">
                                <div class="accordion-body"><span>Considering therapy can be a step if you're feeling overwhelmed, facing persistent sadness, anxiety, or if you're dealing with significant life changes or challenges. Therapy can provide support, strategies for coping, and a space to explore your thoughts and feelings.</span></div>
                            </div>
                        </div>
                        <div class="accordion-item" style="max-width:600px;">
                            <h2 class="accordion-header" role="tab" id="headingSix"><button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Do you offer online therapy sessions?</button></h2>
                            <div class="accordion-collapse collapse item-6" role="tabpanel" data-bs-parent="#faqAccordion" aria-labelledby="headingSix" id="collapseSix">
                                <div class="accordion-body"><span>Yes, we offer online therapy sessions to provide flexibility and convenience. These sessions are conducted via secure video conferencing platforms, ensuring confidentiality and accessibility.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {{ partial "custom-carousel.html" . }}



    <section id="testimonials" class="testimonial-gallery py-4 py-xl-5">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h1 class="display-3 text-secondary">What my clients say</h1>
                    <p class="lead w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
                </div>
            </div>
            <div class="row gx-2 gy-2 row-cols-1 row-cols-md-2 row-cols-xl-3 photos">
                <div class="col item testimonial-item" data-aos="fade-down-right" data-bs-toggle="modal" data-bs-target="#testimonialModal1" style="background: url('img/individual.webp') center / cover; border-radius: 13px;">
                    <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                        <div class="d-flex flex-column align-items-center"> <!-- Updated classes for flexbox centering -->
                            <p class="testimonial-text">John Doe - Overcame Anxiety</p>
                            <button class="btn btn-primary">+</button>
                        </div>
                    </div>
                </div>
                <div class="col item testimonial-item" data-aos="fade-down" data-bs-toggle="modal" data-bs-target="#testimonialModal1" style="background: url(&quot;img/featured-item2.jpg&quot;) center / cover;border-radius: 13px;">
                    <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                        <div class="d-flex flex-column align-items-center">
                            <p class="testimonial-text">John KEK - Overcame Anxiety</p><button class="btn btn-primary">+</button>
                        </div>
                    </div>
                </div>
                <div class="col item testimonial-item" data-aos="fade-down-left" data-bs-toggle="modal" data-bs-target="#testimonialModal3" style="background: url(&quot;img/featured-item6.jpg&quot;) center / cover;border-radius: 13px;">
                    <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                        <div class="d-flex flex-column align-items-center">
                            <p class="testimonial-text">John Doe - Overcame Anxiety</p><button class="btn btn-primary">+</button>
                        </div>
                    </div>
                </div>
                <div class="col item testimonial-item" data-aos="fade-up-right" data-bs-toggle="modal" data-bs-target="#testimonialModal4" style="background: url(&quot;img/featured-item3.jpg&quot;) center / cover;border-radius: 13px;">
                    <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                        <div class="d-flex flex-column align-items-center">
                            <p class="testimonial-text">John Doe - Overcame Anxiety</p><button class="btn btn-primary">+</button>
                        </div>
                    </div>
                </div>
                <div class="col item testimonial-item" data-aos="fade-up" data-bs-toggle="modal" data-bs-target="#testimonialModal5" style="background: url(&quot;img/anxietypic.webp&quot;) center / cover;border-radius: 13px;">
                    <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                        <div class="d-flex flex-column align-items-center">
                            <p class="testimonial-text">John Doe - Overcame Anxiety</p><button class="btn btn-primary">+</button>
                        </div>
                    </div>
                </div>
                <div class="col item testimonial-item" data-aos="fade-up-left" data-bs-toggle="modal" data-bs-target="#testimonialModal6" style="background: url(&quot;img/panicattacks.webp&quot;) center / cover no-repeat;border-radius: 13px;">
                    <div class="d-flex justify-content-center align-items-center testimonial-overlay">
                        <div class="d-flex flex-column align-items-center">
                            <p class="testimonial-text">John Doe - Overcame Anxiety</p><button class="btn btn-primary" data-bss-hover-animate="jello">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal1" aria-labelledby="testimonialModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body"><img class="img-fluid" alt="Testimonial 1" src="img/screenshot1.jpg"></div>
                    <div class="modal-footer"><button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal2" aria-labelledby="testimonialModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body"><img class="img-fluid" alt="Testimonial 2" src="img/screenshot1.jpg"></div>
                    <div class="modal-footer"><button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal3" aria-labelledby="testimonialModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body"><img class="img-fluid" alt="Testimonial 3" src="img/screenshot1.jpg"></div>
                    <div class="modal-footer"><button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal4" aria-labelledby="testimonialModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body"><img class="img-fluid" alt="Testimonial 4" src="img/screenshot1.jpg"></div>
                    <div class="modal-footer"><button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal5" aria-labelledby="testimonialModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body"><img class="img-fluid" alt="Testimonial 5" src="img/screenshot1.jpg"></div>
                    <div class="modal-footer"><button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="testimonialModal6" aria-labelledby="testimonialModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body"><img class="img-fluid" alt="Testimonial 6" src="img/screenshot1.jpg"></div>
                    <div class="modal-footer"><button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button></div>
                </div>
            </div>
        </div>
    </section>

    {{ partial "pricing.html" . }}

    <section id="contact-me" class="contact-methods py-5">
        <div class="container text-center">
            <h1 class="gradient-text display-3 mb-4" >Connect with Me</h1>
            <br><br><br>
            <div class="row">
                <div class="col-6 col-md-3 mb-3" data-aos="flip-down" data-aos-delay="50" style="height: 150px;"><a href="https://telegram.org" target="_blank"><img class="img-fluid" src="img/Telegram_logo.svg" alt="Telegram" style="height: 150px;"></a></div>
                <div class="col-6 col-md-3 mb-3" data-aos="flip-down" data-aos-delay="100" style="height: 150px;"><a href="https://www.viber.com" target="_blank"><img class="img-fluid" src="img/Viber_logo_2018_(without_text).svg" alt="Viber" style="height: 150px;"></a></div>
                <div class="col-6 col-md-3 mb-3" data-aos="flip-down" data-aos-delay="150" style="height: 150px;"><a href="https://mail.google.com" target="_blank"><img class="img-fluid" src="img/Gmail_icon_(2020).svg" alt="Gmail" style="height: 150px;"></a></div>
                <div class="col-6 col-md-3 mb-3" data-aos="flip-down" data-aos-delay="200" style="height: 150px;"><a href="https://www.instagram.com" target="_blank"><img class="img-fluid" src="img/Instagram_logo_2016.svg" alt="Instagram" style="height: 150px;"></a></div>
            </div>
        </div>
    </section>




    
    


{{ end }}